force-app/main/default/flows/Case_Owner_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reassigned_Notification</name>
        <label>Reassigned Notification</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Get_all_SubCases_Related_to_Parent_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>ReassignmentRecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>ReassignNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ReassignNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Reassignment_Recipient</name>
        <label>Assign Reassignment Recipient</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ReassignmentRecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reassigned_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updates</name>
        <label>Assign Updates</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Toggle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>toggle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sub_Case_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Old_Owner_Has_Cases</name>
        <label>Old Owner Has Cases</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Team_Member_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_SubCases_Related_to_Parent_Case</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>toggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Case.Toggle__c}= True, False, True)</expression>
    </formulas>
    <interviewLabel>Changed Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Owner Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Team_Member</name>
        <label>Delete Team Member</label>
        <locationX>308</locationX>
        <locationY>1106</locationY>
        <inputReference>Get_Case_Team_Member_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_all_SubCases_Related_to_Parent_Case</name>
        <label>Get all SubCases Related to Parent Case</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Old_Owner_Has_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousOwner</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Member_Record</name>
        <label>Get Case Team Member Record</label>
        <locationX>308</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PreviousOwner</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Updates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desktop_and_Mobile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sub_Case_Owner</name>
        <label>Update Sub Case Owner</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_Reassignment_Recipient</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ReassignNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>You have been assigned as {!Get_Case.Service__c} for Case: {!Get_Case.CaseNumber}
Instructions: {!Get_Case.Notes_new__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ReassignNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case Reassignment</text>
    </textTemplates>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PreviousOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReassignmentRecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
