force-app/main/default/flows/Convert_Lead_to_Provider.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Already_Registered</name>
        <label>Already Registered</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <actionName>Lead.Already_Registered_NPI_Matched</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Already_Registered_NPI_Matched</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Already_Registered_NPI_Matched</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Already_Registered_NPI_Matched</name>
        <label>Already Registered (NPI Matched)</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Already_Registered_NPI_Matched_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Already_Registered_NPI_Matched_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ConvertLead_to_provider</name>
        <label>ConvertLead to provider</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <actionName>ConvertLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_New_Person_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLead</nameSegment>
        <outputParameters>
            <assignToReference>NewAccount.Id</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Registration_NPI_Not_Matched</name>
        <label>New Registration (NPI Not Matched)</label>
        <locationX>578</locationX>
        <locationY>1295</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>New_Registration_NPI_Not_Matched_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientsID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>New_Registration_NPI_Not_Matched_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>New_Registration_NPI_Not_Matched_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_New_Person_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>New_Registration_NPI_Not_Matched_Contact</name>
        <label>New Registration (NPI Not Matched) Contact</label>
        <locationX>578</locationX>
        <locationY>1403</locationY>
        <actionName>Contact.New_Registration_NPI_Not_Matched_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.New_Registration_NPI_Not_Matched_Contact</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Account_Recipient</name>
        <label>Assign Account Recipient</label>
        <locationX>710</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>RecipientsID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_New_Person_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Web_Lead_NEW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient</name>
        <label>Assign Recipient</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecipientsID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Link_to_Matching_Provider</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_NPI_Match</name>
        <label>Check for NPI Match</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>ConvertLead_to_provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_NPI.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipient</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Web_Lead</name>
        <label>Is Web Lead</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>SF Lead</defaultConnectorLabel>
        <rules>
            <name>Web_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Registered</targetReference>
            </connector>
            <label>Web Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Web_Lead_NEW</name>
        <label>Is Web Lead</label>
        <locationX>710</locationX>
        <locationY>1187</locationY>
        <defaultConnectorLabel>SF Lead</defaultConnectorLabel>
        <rules>
            <name>Web_Lead2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Registration_NPI_Not_Matched</targetReference>
            </connector>
            <label>Web Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Web to lead convert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Lead to Provider</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Person_Account</name>
        <label>Get New Person Account</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_NPI_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desktop_and_Mobile</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_NPI</name>
        <label>Search NPI #</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pcpnpi__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pcpnpi__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pcpnpi__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Link_to_Matching_Provider</name>
        <label>Add Link to Matching Provider</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Is_Web_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Matching_Provider__c</field>
            <value>
                <elementReference>Search_NPI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Person_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>$Record.Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonOtherPhone</field>
            <value>
                <elementReference>$Record.Other_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpothersta_desc__c</field>
            <value>
                <elementReference>$Record.pcpothersta_desc__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_NPI</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Already_Registered_NPI_Matched_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An already-registered provider is trying to reregister. Please review the following details to the information is accurately recorded.</text>
    </textTemplates>
    <textTemplates>
        <name>Already_Registered_NPI_Matched_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Already Registered (NPI Matched)</text>
    </textTemplates>
    <textTemplates>
        <name>New_Registration_NPI_Not_Matched_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new provider has registered.</text>
    </textTemplates>
    <textTemplates>
        <name>New_Registration_NPI_Not_Matched_Title</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Registration (NPI Not Matched)</text>
    </textTemplates>
    <variables>
        <name>NewAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecipientsID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
