force-app/main/default/flows/New_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Status_Updates</name>
        <label>Status Updates</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unrelated_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unrelated_Call__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Unrelated_Call</targetReference>
            </connector>
            <label>Unrelated Call</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>toggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Record.Toggle__c}= True, False, True)</expression>
    </formulas>
    <interviewLabel>New Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Closed_Unrelated_Call</name>
        <label>Closed - Unrelated Call</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Are_they_involved_with_the_criminal_just__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Challenges_in_Seeking_Continuing_Tx__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Co_occurring_Mental_Health_Conditions__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Treatment_or_Counseling_for_Subs__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Involvement_in_Patient_s_Tx__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency_of_Substance_Use__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_Substance_Use_Treatment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Substance_Use_and_Past_Tx__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Willingness_for_Tx__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Substance_Use_Related_Hospitali__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Unrelated Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Unrelated case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substance_Use_in_the_Last_3_Months__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Toggle__c</field>
            <value>
                <elementReference>toggle</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Updates</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
