force-app/main/default/flows/New_Provider.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Parent Case</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DoestheproviderhaveNPI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pcphasnpi__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Doyouthinkofyourselfas</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pcpgender__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HowdoyouIdentifywithRespecttoRace</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>provider_racee__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PhoneType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pcpphonedesc__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProviderLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pcplang__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProviderRegistrationStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Provider_Registration_Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProviderType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pcptitle__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalutationList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Specialty2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pcpmdtype__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SpecialtyMentalHealthTraining</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pcpmhtrain__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TheproviderisaTrainee</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pcptrainee__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TraineeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>pcptraintype__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Provider {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Provider</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Provider</name>
        <label>Create New Provider</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>ConferencePresentation__c</field>
            <value>
                <elementReference>Presentation_or_Exhibit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DirectContactWithVMAPstaff__c</field>
            <value>
                <elementReference>APAL_or_HealthHaven_Staff</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Alert_Recipient__c</field>
            <value>
                <elementReference>EmailAlertRecipient.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FriendOrColleague__c</field>
            <value>
                <elementReference>Friend_or_Colleague</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>Middle_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MyMedicalOrSpecialtyAssociation__c</field>
            <value>
                <elementReference>My_Medical_or_Specialty_Association</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewspaperNewsStory__c</field>
            <value>
                <elementReference>News_Story</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherSocialMedia__c</field>
            <value>
                <elementReference>Social_Media</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherSource__c</field>
            <value>
                <elementReference>Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonHomePhone</field>
            <value>
                <elementReference>HomePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonOtherPhone</field>
            <value>
                <elementReference>OtherPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider_Registration_Status__c</field>
            <value>
                <elementReference>Provider_Registration_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Provider_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SearchEngine__c</field>
            <value>
                <elementReference>Search_Engine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VMAPEnrolledProvider__c</field>
            <value>
                <elementReference>APAL_or_HealthHaven_Enrolled_Provider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpesignature__c</field>
            <value>
                <elementReference>Provider_Signature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpgender__c</field>
            <value>
                <elementReference>Do_you_think_of_yourself_as</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcphasnpi__c</field>
            <value>
                <elementReference>Does_the_provider_have_NPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpinitials__c</field>
            <value>
                <elementReference>Opt_out</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcplang__c</field>
            <value>
                <elementReference>Provider_Language_other_than_English</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcplangdesc__c</field>
            <value>
                <elementReference>Other_Languages</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpmdtype__c</field>
            <value>
                <elementReference>Specialty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpmdtypedesc__c</field>
            <value>
                <elementReference>Other_Specialty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpmhtrain__c</field>
            <value>
                <elementReference>Specialty_Mental_Health_Training</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpmhtraindesc__c</field>
            <value>
                <elementReference>Describe_Previous_Mental_Health_Training</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpnpi__c</field>
            <value>
                <elementReference>Provider_NPI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpothersta_desc__c</field>
            <value>
                <elementReference>Other_Provider_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpphonedesc__c</field>
            <value>
                <elementReference>Phone_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpphoneext__c</field>
            <value>
                <elementReference>Phone_Extension</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcptitle__c</field>
            <value>
                <elementReference>Provider_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcptrainee__c</field>
            <value>
                <elementReference>The_provider_is_a_Trainee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcptraintype__c</field>
            <value>
                <elementReference>Trainee_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcptraintypedescrmd__c</field>
            <value>
                <elementReference>Other_Medical_Trainee_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pcpyrspract__c</field>
            <value>
                <elementReference>Number_of_Years_In_Practice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>practiceid__c</field>
            <value>
                <elementReference>Practice.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>provider_racee__c</field>
            <value>
                <elementReference>How_do_you_Identify_with_Respect_to_Race</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Record_Type</name>
        <label>Get Provider Record Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Provider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>Create_New_Provider</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Case</name>
        <label>Update Parent Case</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>Create_New_Provider</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>New_Provider</name>
        <label>New Provider</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Provider</targetReference>
        </connector>
        <fields>
            <name>Name_Practice_Details</name>
            <fieldText>Name &amp; Practice</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Name_Practice_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salutation</name>
                    <choiceReferences>SalutationList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Salutation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Middle_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Practice</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ParentId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Practice</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Provider_Type_Credentials</name>
            <fieldText>Provider Type &amp; Credentials</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provider_Type_Credentials_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provider_Type</name>
                    <choiceReferences>ProviderType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Provider Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other_Provider_Type</name>
                    <dataType>String</dataType>
                    <fieldText>Other Provider Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Provider_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_the_provider_have_NPI</name>
                    <choiceReferences>DoestheproviderhaveNPI</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the provider have NPI #?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Provider_NPI</name>
                    <dataType>String</dataType>
                    <fieldText>Provider NPI #</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter a valid NPI # &lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(
    {!Does_the_provider_have_NPI} = &quot;Yes&quot;, 
    AND(
        NOT(ISNULL({!Provider_NPI})), 
        {!Provider_NPI} &lt;&gt; &quot;&quot;, 
        REGEX({!Provider_NPI}, &quot;^[0-9]{10}$&quot;)
    ), 
    TRUE
)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Does_the_provider_have_NPI</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Specialty</name>
                    <choiceReferences>Specialty2</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Specialty</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other_Specialty</name>
                    <dataType>String</dataType>
                    <fieldText>Other Specialty</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Specialty</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact_Details</name>
            <fieldText>Contact Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone_Type</name>
                    <choiceReferences>PhoneType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Phone Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone_Extension</name>
                    <dataType>Number</dataType>
                    <fieldText>Phone Extension</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>EmailAlertRecipient</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Alert Recipient</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>HomePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Home Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OtherPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Other Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>How_Did_You_Hear_About_Us</name>
            <fieldText>How Did You Hear About Us?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>How_Did_You_Hear_About_Us_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>APAL_or_HealthHaven_Staff</name>
                    <dataType>Boolean</dataType>
                    <fieldText>APAL or HealthHaven Staff</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>APAL_or_HealthHaven_Enrolled_Provider</name>
                    <dataType>Boolean</dataType>
                    <fieldText>APAL or HealthHaven Enrolled Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Friend_or_Colleague</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Friend or Colleague</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>My_Medical_or_Specialty_Association</name>
                    <dataType>Boolean</dataType>
                    <fieldText>My Medical or Specialty Association</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Social_Media</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Social Media</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Search_Engine</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Search Engine</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>News_Story</name>
                    <dataType>Boolean</dataType>
                    <fieldText>News Story</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Presentation_or_Exhibit</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Presentation or Exhibit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Provider_Information</name>
            <fieldText>Additional Provider Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Provider_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Years_In_Practice</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Years In Practice</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>The_provider_is_a_Trainee</name>
                    <choiceReferences>TheproviderisaTrainee</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>The provider is a Trainee?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Trainee_Type</name>
                    <choiceReferences>TraineeType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Trainee Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Specialty_Mental_Health_Training</name>
                    <choiceReferences>SpecialtyMentalHealthTraining</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Specialty Mental Health Training?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Describe_Previous_Mental_Health_Training</name>
                    <dataType>String</dataType>
                    <fieldText>Describe Previous Mental Health Training</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other_Medical_Trainee_Description</name>
                    <dataType>String</dataType>
                    <fieldText>Other Medical Trainee Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Provider_Demographics</name>
            <fieldText>Provider Demographics</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provider_Demographics_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_think_of_yourself_as</name>
                    <choiceReferences>Doyouthinkofyourselfas</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Do you think of yourself as:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>How_do_you_Identify_with_Respect_to_Race</name>
                    <choiceReferences>HowdoyouIdentifywithRespecttoRace</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How do you Identify with Respect to Race</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Provider_Language_other_than_English</name>
                    <choiceReferences>ProviderLanguage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Provider Language (other than English)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Other_Languages</name>
                    <dataType>String</dataType>
                    <fieldText>Other Languages</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Provider_Language_other_than_English</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Confidentiality</name>
            <fieldText>Confidentiality</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confidentiality_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opt_out</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Opt-out</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Provider_Signature</name>
                    <dataType>String</dataType>
                    <fieldText>Provider Signature</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>System_Information</name>
            <fieldText>System Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>System_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provider_Registration_Status</name>
                    <choiceReferences>ProviderRegistrationStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Incomplete</stringValue>
                    </defaultValue>
                    <fieldText>Provider Registration Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Incomplete</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Incomplete?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
