force-app/main/default/flows/New_Case_Patient_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Creates an Account record that was retrieved from VMAP organization.</description>
        <name>Create_APAL_Account</name>
        <label>Create APAL Account</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>ExternalAccountCreatorApal</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_VMAP_Account_Created_Successfully</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>accountRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExternalAccountCreatorApal</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>new_case.AccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountCreationMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountCreatedSuccessfully</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Creates an Account record that was retrieved from VMAP organization.</description>
        <name>Create_APAL_Account_Psychiatry</name>
        <label>Create APAL Account - Psychiatry</label>
        <locationX>930</locationX>
        <locationY>1766</locationY>
        <actionName>ExternalAccountCreatorApal</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_VMAP_Account_Created_Successfully_Psychiatry</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>accountRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExternalAccountCreatorApal</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>new_case.AccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountCreationMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountCreatedSuccessfully</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Creates an Account record that was retrieved from VMAP organization.</description>
        <name>Create_APAL_Account_Unrelated</name>
        <label>Create APAL Account - Unrelated</label>
        <locationX>1854</locationX>
        <locationY>566</locationY>
        <actionName>ExternalAccountCreatorApal</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_VMAP_Account_Created_Successfully_Unrelated</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>accountRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExternalAccountCreatorApal</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>new_case.AccountId</assignToReference>
            <name>accountId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountCreationMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accountCreatedSuccessfully</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>assignNewPatientCase</name>
        <label>assignNewPatientCase</label>
        <locationX>226</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>patientCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Patient_Case</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignNewPatientCase_Psychiatry</name>
        <label>assignNewPatientCase - Psychiatry</label>
        <locationX>1106</locationX>
        <locationY>2324</locationY>
        <assignmentItems>
            <assignToReference>patientCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Patient_Case_Psychiatry</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignNewPatientCase_Unrelated</name>
        <label>AssignNewPatientCase - Unrelated</label>
        <locationX>2030</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>patientCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Patient_Case_Unrelated</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_IPVConcern</name>
        <label>Set_IPVConcern</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>IPVCheckboxBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPV_Concern</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Weapons_Access_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IPVConcern_Default</name>
        <label>Set_IPVConcern_Default</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>IPVCheckboxBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Weapons_Access_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Means_Safety_Plane_Agreed</name>
        <label>Set Means Safety Plane Agreed</label>
        <locationX>1238</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>MeansSafetyPlaneAgreedBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Means_Safety_Plan_Agreed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suicidal_Intent_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Means_Safety_Plane_Agreed_Default</name>
        <label>Set Means Safety Plane Agreed Default</label>
        <locationX>974</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>MeansSafetyPlaneAgreedBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suicidal_Intent_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Suicidal_Intent</name>
        <label>Set Suicidal Intent</label>
        <locationX>1238</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>SuicidalIntentBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Suicidal_Intent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_create_VMAP_Account_Psychiatry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Suicidal_Intent_default</name>
        <label>Set Suicidal Intent default</label>
        <locationX>974</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>SuicidalIntentBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_create_VMAP_Account_Psychiatry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Weapons_Access</name>
        <label>Set Weapons Access</label>
        <locationX>1238</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>WeaponsAccessBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weapons_Access</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Means_Safety_Plane_Agreed_is_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Weapons_Access_Default</name>
        <label>Set Weapons Access Default</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>WeaponsAccessBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Means_Safety_Plane_Agreed_is_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Type_Selection</name>
        <label>Case Type Selection</label>
        <locationX>1138</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_Case_Patient_Case_Unrelated_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unrelated Call</defaultConnectorLabel>
        <rules>
            <name>Addiction_Medicine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addiction Medicine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Case_Patient_Case_Addiction</targetReference>
            </connector>
            <label>Addiction Medicine</label>
        </rules>
        <rules>
            <name>General_Psychiatry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Psychiatry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Case_Patient_Case_Psychiatry</targetReference>
            </connector>
            <label>General Psychiatry</label>
        </rules>
    </decisions>
    <decisions>
        <name>IPV_Concern_is_Null</name>
        <label>IPV Concern is Null?</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_IPVConcern</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Isnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IPV_Concern</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IPVConcern_Default</targetReference>
            </connector>
            <label>Yes_Isnull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Means_Safety_Plane_Agreed_is_Null</name>
        <label>Means Safety Plane Agreed is Null?</label>
        <locationX>1106</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Set_Means_Safety_Plane_Agreed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Means_Safety_Plane_Agreed_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Means_Safety_Plan_Agreed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Means_Safety_Plane_Agreed_Default</targetReference>
            </connector>
            <label>Yes Means Safety Plane Agreed is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_create_VMAP_Account_Addiction</name>
        <label>Should create VMAP Account - Addiction</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Patient_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Provider Needed</defaultConnectorLabel>
        <rules>
            <name>Create_New_Provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_case.AccountId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>vmap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_APAL_Account</targetReference>
            </connector>
            <label>Create New Provider</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_create_VMAP_Account_Psychiatry</name>
        <label>Should create VMAP Account - Psychiatry</label>
        <locationX>1106</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Create_Patient_Case_Psychiatry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Provider Needed</defaultConnectorLabel>
        <rules>
            <name>Create_New_Provider_Psychiatry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_case.AccountId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>vmap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_APAL_Account_Psychiatry</targetReference>
            </connector>
            <label>Create New Provider - Psychiatry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_create_VMAP_Account_Unrelated</name>
        <label>Should create VMAP Account - Unrelated</label>
        <locationX>2030</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Patient_Case_Unrelated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Provider Needed</defaultConnectorLabel>
        <rules>
            <name>Create_New_Provider_Unrelated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_case.AccountId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>vmap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_APAL_Account_Unrelated</targetReference>
            </connector>
            <label>Create New Provider - Unrelated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suicidal_Intent_is_Null</name>
        <label>Suicidal Intent is Null</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Set_Suicidal_Intent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Suicidal_Intent_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Suicidal_Intent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Suicidal_Intent_default</targetReference>
            </connector>
            <label>Yes Suicidal Intent is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_VMAP_Account_Created_Successfully</name>
        <label>Was VMAP Account Created Successfully</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Case_Patient_Case_Addiction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account was not created</defaultConnectorLabel>
        <rules>
            <name>Account_was_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountCreatedSuccessfully</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Case</targetReference>
            </connector>
            <label>Account was created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_VMAP_Account_Created_Successfully_Psychiatry</name>
        <label>Was VMAP Account Created Successfully - Psychiatry</label>
        <locationX>930</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Case_Patient_Case_Psychiatry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account was not created</defaultConnectorLabel>
        <rules>
            <name>Account_was_created_Psychiatry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountCreatedSuccessfully</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Case_Psychiatry</targetReference>
            </connector>
            <label>Account was created - Psychiatry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_VMAP_Account_Created_Successfully_Unrelated</name>
        <label>Was VMAP Account Created Successfully - Unrelated</label>
        <locationX>1854</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Case_Patient_Case_Unrelated_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account was not created</defaultConnectorLabel>
        <rules>
            <name>Account_was_created_Unrelated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountCreatedSuccessfully</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Case_Unrelated</targetReference>
            </connector>
            <label>Account was created - Unrelated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Weapons_Access_is_Null</name>
        <label>Weapons Access is Null?</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Weapons_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Weapons_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Weapons_Access</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Weapons_Access_Default</targetReference>
            </connector>
            <label>Yes Weapons Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccesstoMeans</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Access_to_Means__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Are_they_involved_with_the_criminal_just</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_they_involved_with_the_criminal_just__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Casetype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Case_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Co_occurring_Mental_Health_Conditions_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Co_occurring_Mental_Health_Conditions__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Coursepicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Course__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Current_Treatment_or_Counseling_for_Subs_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Treatment_or_Counseling_for_Subs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FamilyHistory1stdegree</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family_History__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Frequency_of_Substance_Use_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_of_Substance_Use__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>History_of_Substance_Use_Treatment_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>History_of_Substance_Use_Treatment__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HomeSafety</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Home_Safety__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HomicidalIdeation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Homicidal_Ideation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImpairedDomains</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Impaired_Domains__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImpairmentLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Impairment_Level__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LethalMeansAccess</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lethal_Means_Access__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ManiaHypomaniaSymptoms</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mania_Symptoms__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MedicalRedFlags</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Medical_Red_Flags__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Orientation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Orientation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Patient_Willingness_for_Tx_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Patient_Willingness_for_Tx__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PatientList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PatientId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Practicelist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012820000004dJDAAY</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PracticeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Previous_Substance_Use_Related_Hospitali</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Previous_Substance_Use_Related_Hospitali__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimaryClinicalQuestionTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Primary_Clinical_Question_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorDiagnoses</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prior_Diagnoses__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PsychosisSymptoms</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Psychosis_Symptoms__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PsychosocialStressors</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Psychosocial_Stressors__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReliableSupports</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reliable_Supports__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelfHarmHistory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Self_Harm_History__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Substance_Use_in_the_Last_3_Months_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Substance_Use_in_the_Last_3_Months__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SuicidalIdeation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Suicidal_Ideation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TopSymptoms</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Top_Symptoms__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Unrelated_Call_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unrelated_Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>friendlyFaultMessage</name>
        <dataType>String</dataType>
        <expression>MID(
{!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <interviewLabel>New Case: Patient Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case: Patient Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patient_Case</name>
        <label>Create Patient Case</label>
        <locationX>226</locationX>
        <locationY>1016</locationY>
        <connector>
            <targetReference>assignNewPatientCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PracticeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_they_involved_with_the_criminal_just__c</field>
            <value>
                <elementReference>Are_they_involved_with_the_criminal_justice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Addiction Medicine</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenges_in_Seeking_Continuing_Tx__c</field>
            <value>
                <elementReference>Challenges_in_Seeking_Continuing_Tx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Co_occurring_Mental_Health_Conditions__c</field>
            <value>
                <elementReference>Co_occuring_Mental_Health_Conditions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Treatment_or_Counseling_for_Subs__c</field>
            <value>
                <elementReference>Currently_in_TX_Cx_for_Substance_Use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Involvement_in_Patient_s_Tx__c</field>
            <value>
                <elementReference>Family_Involvement_in_Patient_s_Tx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency_of_Substance_Use__c</field>
            <value>
                <elementReference>Frequency_of_Substance_Use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_Substance_Use_Treatment__c</field>
            <value>
                <elementReference>History_of_Substance_Use_Treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Substance_Use_and_Past_Tx__c</field>
            <value>
                <elementReference>Patient_Substance_Use_and_Past_Tx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Willingness_for_Tx__c</field>
            <value>
                <elementReference>Patient_Willingness_for_Tx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Substance_Use_Related_Hospitali__c</field>
            <value>
                <elementReference>Previous_Substance_Use_Hosp_ER_Visits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>new_case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substance_Use_in_the_Last_3_Months__c</field>
            <value>
                <elementReference>Substance_Use_in_Last_3_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Case_Psychiatry</name>
        <label>Create Patient Case - Psychiatry</label>
        <locationX>1106</locationX>
        <locationY>2216</locationY>
        <connector>
            <targetReference>assignNewPatientCase_Psychiatry</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_Psychiatry</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Abrupt_Change__c</field>
            <value>
                <elementReference>Abrupt_Change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Access_to_Means__c</field>
            <value>
                <elementReference>Access_to_Means</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PracticeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>General Psychiatry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cognition_Notes__c</field>
            <value>
                <elementReference>Cognition_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Coverage_Issues__c</field>
            <value>
                <elementReference>Cost_Coverage_Issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>Course</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dependent_Safety_Concern__c</field>
            <value>
                <elementReference>Child_Elder_Safety_Concern</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ED_Visits_Count__c</field>
            <value>
                <elementReference>ED_Visits_for_Psych</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_History_Notes__c</field>
            <value>
                <elementReference>Family_History_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_History__c</field>
            <value>
                <elementReference>Family_History_1st_degree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Safety__c</field>
            <value>
                <elementReference>Home_Safety_field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Homicidal_Ideation__c</field>
            <value>
                <elementReference>Homicidal_Ideation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IPV_Concern__c</field>
            <value>
                <elementReference>IPVCheckboxBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impaired_Domains__c</field>
            <value>
                <elementReference>Impaired_Domains</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impairment_Level__c</field>
            <value>
                <elementReference>Impairment_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Attempt_Date__c</field>
            <value>
                <elementReference>Last_Attempt_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lethal_Means_Access__c</field>
            <value>
                <elementReference>Lethal_Means_Access</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mania_Notes__c</field>
            <value>
                <elementReference>Mania_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mania_Symptoms__c</field>
            <value>
                <elementReference>Mania_Hypomania_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Means_Safety_Plan__c</field>
            <value>
                <elementReference>MeansSafetyPlaneAgreedBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Notes__c</field>
            <value>
                <elementReference>Medical_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Red_Flags__c</field>
            <value>
                <elementReference>Medical_Red_Flags</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orientation__c</field>
            <value>
                <elementReference>Orientation2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Past_Suicide_Attempts__c</field>
            <value>
                <elementReference>Past_Suicide_Attempts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Clinical_Question_Types__c</field>
            <value>
                <elementReference>Primary_Clinical_Question_Types</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prior_Diagnoses__c</field>
            <value>
                <elementReference>Prior_Diagnoses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority_Psychiatry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protective_Factors__c</field>
            <value>
                <elementReference>Protective_Factors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>new_case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Psych_Hospitalizations__c</field>
            <value>
                <elementReference>Psych_Hospitalizations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Psychosis_Notes__c</field>
            <value>
                <elementReference>Psychosis_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Psychosis_Symptoms__c</field>
            <value>
                <elementReference>Psychosis_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Psychosocial_Stressors__c</field>
            <value>
                <elementReference>Psychosocial_Stressors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recent_Trauma__c</field>
            <value>
                <elementReference>Recent_Trauma</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reliable_Supports__c</field>
            <value>
                <elementReference>Reliable_Supports</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Notes__c</field>
            <value>
                <elementReference>Safety_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Harm_History__c</field>
            <value>
                <elementReference>Self_Harm_History</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status_Psychiatry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_Psychiatry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suicidal_Ideation__c</field>
            <value>
                <elementReference>Suicidal_Ideation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suicidal_Intent__c</field>
            <value>
                <elementReference>SuicidalIntentBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suicide_Plan_Details__c</field>
            <value>
                <elementReference>Suicide_Plan_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supports_Notes__c</field>
            <value>
                <elementReference>Supports_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptom_Onset_Date__c</field>
            <value>
                <elementReference>Symptom_Onset_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top_Symptoms__c</field>
            <value>
                <elementReference>Top_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violence_Details__c</field>
            <value>
                <elementReference>Violence_Threat_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Violence_Recent__c</field>
            <value>
                <elementReference>Recent_Violence_Agitation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weapons_Access__c</field>
            <value>
                <elementReference>WeaponsAccessBoolean</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Case_Unrelated</name>
        <label>Create Patient Case - Unrelated</label>
        <locationX>2030</locationX>
        <locationY>1016</locationY>
        <connector>
            <targetReference>AssignNewPatientCase_Unrelated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_unrelated</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case_Type__c</field>
            <value>
                <stringValue>Unrelated Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unrelated_Call_Details__c</field>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Unrelated_Call_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unrelated_Call_Reason__c</field>
            <value>
                <elementReference>Copy_1_of_Copy_1_of_Unrelated_Call_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unrelated_Call__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Choose_Case_Type</name>
        <label>Choose Case Type</label>
        <locationX>1138</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Case_Type_Selection</targetReference>
        </connector>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>Casetype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>fault</name>
        <label>fault</label>
        <locationX>578</locationX>
        <locationY>1124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>fault_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!friendlyFaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Press&lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; Back&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; and update the required fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>fault_Psychiatry</name>
        <label>fault - Psychiatry</label>
        <locationX>1502</locationX>
        <locationY>2324</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>Copy_1_of_fault_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!friendlyFaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Press&lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; Back&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; and update the required fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>fault_unrelated</name>
        <label>fault - unrelated</label>
        <locationX>2382</locationX>
        <locationY>1124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>Copy_1_of_Copy_1_of_fault_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!friendlyFaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Press&lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; Back&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; and update the required fields.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Case_Patient_Case_Addiction</name>
        <label>New Case: Patient Case - Addiction</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Should_create_VMAP_Account_Addiction</targetReference>
        </connector>
        <fields>
            <name>Case_Status</name>
            <fieldText>Case Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>StatusPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Status_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>PriorityPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Medium</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Details</name>
            <fieldText>Case Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Intake_Questions</name>
            <fieldText>Intake Questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intake_Questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Substance_Use_in_Last_3_Months</name>
                    <choiceReferences>Substance_Use_in_the_Last_3_Months_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Substance Use in Last 3 Months?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Currently_in_TX_Cx_for_Substance_Use</name>
                    <choiceReferences>Current_Treatment_or_Counseling_for_Subs_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currently in TX/Cx for Substance Use</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Co_occuring_Mental_Health_Conditions</name>
                    <choiceReferences>Co_occurring_Mental_Health_Conditions_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Co-occuring Mental Health Conditions</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Patient_Willingness_for_Tx</name>
                    <choiceReferences>Patient_Willingness_for_Tx_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Patient Willingness for Tx</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intake_Questions_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Frequency_of_Substance_Use</name>
                    <choiceReferences>Frequency_of_Substance_Use_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Frequency of Substance Use</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>History_of_Substance_Use_Treatment</name>
                    <choiceReferences>History_of_Substance_Use_Treatment_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>History of Substance Use Treatment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Previous_Substance_Use_Hosp_ER_Visits</name>
                    <choiceReferences>Previous_Substance_Use_Related_Hospitali</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Previous Substance Use Hosp/ER Visits</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Are_they_involved_with_the_criminal_justice</name>
                    <choiceReferences>Are_they_involved_with_the_criminal_just</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are they involved with the criminal justice?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Open_Ended_Questions</name>
            <fieldText>Open-Ended Questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Open_Ended_Questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Patient_Substance_Use_and_Past_Tx</name>
                    <dataType>String</dataType>
                    <fieldText>Patient Substance Use and Past Tx</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Challenges_in_Seeking_Continuing_Tx</name>
                    <dataType>String</dataType>
                    <fieldText>Challenges in Seeking/Continuing Tx</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Family_Involvement_in_Patient_s_Tx</name>
                    <dataType>String</dataType>
                    <fieldText>Family Involvement in Patient&apos;s Tx</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Provider</name>
            <fieldText>Provider</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provider_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>providerId</name>
                    <extensionName>c:providerinCaseFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>accountRecord</name>
                        <value>
                            <elementReference>accountRecord</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accountId</name>
                        <value>
                            <elementReference>new_case.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isFromFlow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>accountRecord</assignToReference>
                        <name>accountRecord</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>new_case.AccountId</assignToReference>
                        <name>accountId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Provider_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccounCreationError</name>
                    <extensionName>c:externalAccountCreationError</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>accountCreationMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Practice</name>
            <fieldText>Practice</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Practice_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_Practice</name>
                    <choiceReferences>Practicelist</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Name</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Practice</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Patient</name>
            <fieldText>Patient</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Patient_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Patient_Name</name>
                    <choiceReferences>PatientList</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Patient Name</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Patient</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Case_Patient_Case_Psychiatry</name>
        <label>New Case: Patient Case - Psychiatry</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IPV_Concern_is_Null</targetReference>
        </connector>
        <fields>
            <name>Case_Status_Psychiatry</name>
            <fieldText>Case Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Status_Psychiatry_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_Psychiatry</name>
                    <choiceReferences>StatusPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Status_Psychiatry_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority_Psychiatry</name>
                    <choiceReferences>PriorityPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Medium</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Details_Psychiatry</name>
            <fieldText>Case Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Details_Psychiatry_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject_Psychiatry</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Details_Psychiatry_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_Psychiatry</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Presenting_Availability</name>
            <fieldText>Presenting &amp; Availability</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Presenting_Availability_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Clinical_Question_Types</name>
                    <choiceReferences>PrimaryClinicalQuestionTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Primary Clinical Question Types</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Top_Symptoms</name>
                    <choiceReferences>TopSymptoms</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Top Symptoms</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Symptom_Onset_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Symptom Onset Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Impairment_Level</name>
                    <choiceReferences>ImpairmentLevel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Impairment Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Presenting_Availability_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Abrupt_Change</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Abrupt Change</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Course</name>
                    <choiceReferences>Coursepicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Course</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Impaired_Domains</name>
                    <choiceReferences>ImpairedDomains</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Impaired Domains</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Prior_Diagnoses_Utilization</name>
            <fieldText>Prior Diagnoses &amp; Utilization</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Prior_Diagnoses_Utilization_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prior_Diagnoses</name>
                    <choiceReferences>PriorDiagnoses</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Prior Diagnoses</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Psych_Hospitalizations</name>
                    <dataType>Number</dataType>
                    <fieldText>Psych Hospitalizations (#)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Prior_Diagnoses_Utilization_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Self_Harm_History</name>
                    <choiceReferences>SelfHarmHistory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Self-Harm History</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ED_Visits_for_Psych</name>
                    <dataType>Number</dataType>
                    <fieldText>ED Visits for Psych (#)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Safety_Suicide_Risk</name>
            <fieldText>Safety: Suicide Risk</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Safety_Suicide_Risk_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Suicidal_Ideation</name>
                    <choiceReferences>SuicidalIdeation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>None</stringValue>
                    </defaultValue>
                    <fieldText>Suicidal Ideation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Suicide_Plan_Details</name>
                    <fieldText>Suicide Plan Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Suicidal_Ideation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Active - With Plan</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Protective_Factors</name>
                    <fieldText>Protective Factors</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Suicidal_Ideation</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Last_Attempt_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Last Attempt Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Past_Suicide_Attempts</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Safety_Suicide_Risk_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Suicidal_Intent</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Suicidal Intent</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Suicidal_Ideation</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Access_to_Means</name>
                    <choiceReferences>AccesstoMeans</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Access to Means</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Suicidal_Ideation</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Past_Suicide_Attempts</name>
                    <dataType>Number</dataType>
                    <fieldText>Past Suicide Attempts (#)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Suicidal_Ideation</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Safety_Homicide_Violence</name>
            <fieldText>Safety: Homicide / Violence</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Safety_Homicide_Violence_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Homicidal_Ideation</name>
                    <choiceReferences>HomicidalIdeation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>None</stringValue>
                    </defaultValue>
                    <fieldText>Homicidal Ideation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Violence_Threat_Details</name>
                    <fieldText>Violence/Threat Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Recent_Violence_Agitation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Homicidal_Ideation</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Safety_Homicide_Violence_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recent_Violence_Agitation</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Recent Violence/Agitation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Weapons_Access</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Weapons Access</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Homicidal_Ideation</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Recent_Violence_Agitation</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Psychosis</name>
            <fieldText>Psychosis</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Psychosis_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Psychosis_Symptoms</name>
                    <choiceReferences>PsychosisSymptoms</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Psychosis Symptoms</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Psychosis_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Psychosis_Notes</name>
                    <fieldText>Psychosis Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Psychosis_Symptoms</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Mania_Hypomania</name>
            <fieldText>Mania / Hypomania</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mania_Hypomania_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mania_Hypomania_Symptoms</name>
                    <choiceReferences>ManiaHypomaniaSymptoms</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Mania/Hypomania Symptoms</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mania_Hypomania_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mania_Notes</name>
                    <fieldText>Mania Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mania_Hypomania_Symptoms</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Medical_Contributors_Red_Flags</name>
            <fieldText>Medical Contributors / Red Flags</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Medical_Contributors_Red_Flags_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Medical_Red_Flags</name>
                    <choiceReferences>MedicalRedFlags</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Medical Red Flags</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Medical_Contributors_Red_Flags_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Medical_Notes</name>
                    <fieldText>Medical Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Medical_Red_Flags</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Family_Trauma</name>
            <fieldText>Family &amp; Trauma</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Family_Trauma_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Family_History_1st_degree</name>
                    <choiceReferences>FamilyHistory1stdegree</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Family History (1st-degree)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Recent_Trauma</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Recent Trauma</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Child_Elder_Safety_Concern</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Child/Elder Safety Concern</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Family_Trauma_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Family_History_Notes</name>
                    <fieldText>Family History Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Family_History_1st_degree</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IPV_Concern</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>IPV Concern</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Recent_Trauma</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Primary_Clinical_Question_Types</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Legal/safety (IPV, abuse, duty to warn)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Home_Safety</name>
            <fieldText>Home Safety</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Home_Safety_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Home_Safety_field</name>
                    <choiceReferences>HomeSafety</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Home Safety</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Safety_Notes</name>
                    <fieldText>Safety Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Home_Safety_field</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Safe</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Lethal_Means_Access</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Home_Safety_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lethal_Means_Access</name>
                    <choiceReferences>LethalMeansAccess</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Lethal Means Access</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Home_Safety_field</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Unsafe</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Suicidal_Ideation</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>None</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Means_Safety_Plan_Agreed</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Means Safety Plan Agreed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Lethal_Means_Access</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Firearms - Unlocked</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Lethal_Means_Access</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Firearms - Locked</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Lethal_Means_Access</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Large medication supply</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Orientation_Cognition</name>
            <fieldText>Orientation &amp; Cognition</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Orientation_Cognition_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Orientation2</name>
                    <choiceReferences>Orientation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Orientation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Orientation_Cognition_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cognition_Notes</name>
                    <fieldText>Cognition Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Orientation2</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Alert &amp; oriented (x3)</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Psychosocial_Supports</name>
            <fieldText>Psychosocial &amp; Supports</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Psychosocial_Supports_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Psychosocial_Stressors</name>
                    <choiceReferences>PsychosocialStressors</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Psychosocial Stressors</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reliable_Supports</name>
                    <choiceReferences>ReliableSupports</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reliable Supports</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Psychosocial_Supports_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Coverage_Issues</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Cost/Coverage Issues</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Supports_Notes</name>
                    <fieldText>Supports Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Reliable_Supports</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Reliable_Supports</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Limited</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Psychosocial_Stressors</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Provider_Psychiatry</name>
            <fieldText>Provider</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provider_Psychiatry_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>providerId_Psychiatry</name>
                    <extensionName>c:providerinCaseFlow</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>accountRecord</name>
                        <value>
                            <elementReference>accountRecord</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accountId</name>
                        <value>
                            <elementReference>new_case.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isFromFlow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>accountRecord</assignToReference>
                        <name>accountRecord</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>new_case.AccountId</assignToReference>
                        <name>accountId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Provider_Psychiatry_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccounCreationError_Psychiatry</name>
                    <extensionName>c:externalAccountCreationError</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>accountCreationMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Practice_Psychiatry</name>
            <fieldText>Practice</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Practice_Psychiatry_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_Practice_Psychiatry</name>
                    <choiceReferences>Practicelist</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Name</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Practice</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Patient_Psychiatry</name>
            <fieldText>Patient</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Patient_Psychiatry_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Patient_Name_Psychiatry</name>
                    <choiceReferences>PatientList</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Patient Name</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Patient</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Case_Patient_Case_Unrelated_Call</name>
        <label>New Case: Patient Case - Unrelated Call</label>
        <locationX>2030</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Should_create_VMAP_Account_Unrelated</targetReference>
        </connector>
        <fields>
            <name>Unrelated_Call</name>
            <fieldText>Unrelated Call</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Unrelated_Call_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Unrelated_Call_Reason</name>
                    <choiceReferences>Unrelated_Call_Reason_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Unrelated Call Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Copy_1_of_Copy_1_of_Unrelated_Call_Details</name>
                    <dataType>String</dataType>
                    <fieldText>Unrelated Call Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1012</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Choose_Case_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountCreatedSuccessfully</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>accountCreationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>IPVCheckboxBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeansSafetyPlaneAgreedBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>patientCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PracticeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProviderAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedSearchTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuicidalIntentBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WeaponsAccessBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
