force-app/main/default/flows/New_Case_Patient_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <dynamicChoiceSets>
        <name>Are_they_involved_with_the_criminal_just</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Are_they_involved_with_the_criminal_just__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Co_occurring_Mental_Health_Conditions_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Co_occurring_Mental_Health_Conditions__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Current_Treatment_or_Counseling_for_Subs_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Treatment_or_Counseling_for_Subs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Frequency_of_Substance_Use_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_of_Substance_Use__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>History_of_Substance_Use_Treatment_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>History_of_Substance_Use_Treatment__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Patient_Willingness_for_Tx_picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Patient_Willingness_for_Tx__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PatientList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Practicelist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012820000004dJDAAY</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Previous_Substance_Use_Related_Hospitali</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Previous_Substance_Use_Related_Hospitali__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Substance_Use_in_the_Last_3_Months_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Substance_Use_in_the_Last_3_Months__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Unrelated_Call_Reason_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unrelated_Call_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Case: Patient Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Case: Patient Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patient_Case</name>
        <label>Create Patient Case</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Name_Practice.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Are_they_involved_with_the_criminal_just__c</field>
            <value>
                <elementReference>Are_they_involved_with_the_criminal_justice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Challenges_in_Seeking_Continuing_Tx__c</field>
            <value>
                <elementReference>Challenges_in_Seeking_Continuing_Tx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Co_occurring_Mental_Health_Conditions__c</field>
            <value>
                <elementReference>Co_occuring_Mental_Health_Conditions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Patient_Name.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Treatment_or_Counseling_for_Subs__c</field>
            <value>
                <elementReference>Currently_in_TX_Cx_for_Substance_Use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Involvement_in_Patient_s_Tx__c</field>
            <value>
                <elementReference>Family_Involvement_in_Patient_s_Tx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency_of_Substance_Use__c</field>
            <value>
                <elementReference>Frequency_of_Substance_Use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_Substance_Use_Treatment__c</field>
            <value>
                <elementReference>History_of_Substance_Use_Treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Substance_Use_and_Past_Tx__c</field>
            <value>
                <elementReference>Patient_Substance_Use_and_Past_Tx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Willingness_for_Tx__c</field>
            <value>
                <elementReference>Patient_Willingness_for_Tx</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Substance_Use_Related_Hospitali__c</field>
            <value>
                <elementReference>Previous_Substance_Use_Hosp_ER_Visits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider__c</field>
            <value>
                <elementReference>selectedSearchTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substance_Use_in_the_Last_3_Months__c</field>
            <value>
                <elementReference>Substance_Use_in_Last_3_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unrelated_Call_Details__c</field>
            <value>
                <elementReference>Unrelated_Call_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unrelated_Call_Reason__c</field>
            <value>
                <elementReference>Unrelated_Call_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unrelated_Call__c</field>
            <value>
                <elementReference>Unrelated_Call_checkbox</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>New_Case_Patient_Case</name>
        <label>New Case: Patient Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Patient_Case</targetReference>
        </connector>
        <fields>
            <name>Case_Status</name>
            <fieldText>Case Status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Status_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>StatusPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Status_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>PriorityPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Medium</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Case_Details</name>
            <fieldText>Case Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Intake_Questions</name>
            <fieldText>Intake Questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Intake_Questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Substance_Use_in_Last_3_Months</name>
                    <choiceReferences>Substance_Use_in_the_Last_3_Months_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Substance Use in Last 3 Months?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Currently_in_TX_Cx_for_Substance_Use</name>
                    <choiceReferences>Current_Treatment_or_Counseling_for_Subs_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currently in TX/Cx for Substance Use</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Co_occuring_Mental_Health_Conditions</name>
                    <choiceReferences>Co_occurring_Mental_Health_Conditions_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Co-occuring Mental Health Conditions</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Patient_Willingness_for_Tx</name>
                    <choiceReferences>Patient_Willingness_for_Tx_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Patient Willingness for Tx</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Intake_Questions_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Frequency_of_Substance_Use</name>
                    <choiceReferences>Frequency_of_Substance_Use_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Frequency of Substance Use</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>History_of_Substance_Use_Treatment</name>
                    <choiceReferences>History_of_Substance_Use_Treatment_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>History of Substance Use Treatment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Previous_Substance_Use_Hosp_ER_Visits</name>
                    <choiceReferences>Previous_Substance_Use_Related_Hospitali</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Previous Substance Use Hosp/ER Visits</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Are_they_involved_with_the_criminal_justice</name>
                    <choiceReferences>Are_they_involved_with_the_criminal_just</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are they involved with the criminal justice?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Open_Ended_Questions</name>
            <fieldText>Open-Ended Questions</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Open_Ended_Questions_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Patient_Substance_Use_and_Past_Tx</name>
                    <dataType>String</dataType>
                    <fieldText>Patient Substance Use and Past Tx</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Challenges_in_Seeking_Continuing_Tx</name>
                    <dataType>String</dataType>
                    <fieldText>Challenges in Seeking/Continuing Tx</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Family_Involvement_in_Patient_s_Tx</name>
                    <dataType>String</dataType>
                    <fieldText>Family Involvement in Patient&apos;s Tx</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Provider</name>
            <fieldText>Provider</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Provider_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accountSearch</name>
                    <extensionName>c:accountSearchInput</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>selectedSearchTerm</assignToReference>
                        <name>selectedSearchTerm</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Practice</name>
            <fieldText>Practice</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Practice_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_Practice</name>
                    <choiceReferences>Practicelist</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Name</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Practice</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Patient</name>
            <fieldText>Patient</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Patient_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Patient_Name</name>
                    <choiceReferences>PatientList</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Patient Name</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Patient</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Unrelated_Call</name>
            <fieldText>Unrelated Call</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Unrelated_Call_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unrelated_Call_checkbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Unrelated Call</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Unrelated_Call_Reason</name>
                    <choiceReferences>Unrelated_Call_Reason_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Unrelated Call Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Unrelated_Call_checkbox</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Unrelated_Call_Details</name>
                    <dataType>String</dataType>
                    <fieldText>Unrelated Call Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Unrelated_Call_checkbox</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Case_Patient_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>selectedSearchTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
