force-app/main/default/flows/Patient_Safety_Risk_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Patient_Safety_Risks_to_Add</name>
        <label>Assign Parent Patient Safety Risks to Add</label>
        <locationX>1128</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Safety_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Safety_Risk_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Safety_Risks.Safety_Risk_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Historical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Safety_Risks.HistoricalParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Recent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Safety_Risks.RecentParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSafetyRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientSafetyRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Parent_Patient_Safety_Risks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Safety_Risks_to_Delete</name>
        <label>Assign Parent Patient Safety Risks to Delete</label>
        <locationX>1128</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientSafetyRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deleted_Parent_Patient_Safety_Risks.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Parent_Patient_Safety_Risks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Safety_Risks_to_Update</name>
        <label>Assign Parent Patient Safety Risks to Update</label>
        <locationX>1128</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>CurrentSafetyRisk.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Safety_Risks.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSafetyRisk.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Safety_Risks.Safety_Risk_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSafetyRisk.Recent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Safety_Risks.RecentParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSafetyRisk.Historical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Safety_Risks.HistoricalParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedSafetyRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSafetyRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Patient_Safety_Risks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Safety_Risks_to_Add</name>
        <label>Assign Patient Safety Risks to Add</label>
        <locationX>424</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Safety_Risk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Safety_Risk_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Safety_Risks.Safety_Risk_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Recent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Safety_Risks.Recent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSafetyRisk.Historical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Safety_Risks.Historical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSafetyRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientSafetyRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Patient_Safety_Risks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Safety_Risks_to_Delete</name>
        <label>Assign Patient Safety Risks to Delete</label>
        <locationX>424</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientSafetyRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Deleted_Patient_Safety_Risks.UniqueField__Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Patient_Safety_Risks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Safety_Risks_to_Update</name>
        <label>Assign Patient Safety Risks to Update</label>
        <locationX>424</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>CurrentSafetyRisk.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Safety_Risks.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSafetyRisk.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Safety_Risks.Safety_Risk_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSafetyRisk.Historical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Safety_Risks.Historical</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSafetyRisk.Recent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Safety_Risks.Recent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedSafetyRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSafetyRisk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Safety_Risks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Safety_Risks</targetReference>
            </connector>
            <label>Parent Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigationbuttons</name>
        <label>Navigation</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Safety_Risk</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>NavigationParentButtons</name>
        <label>Navigation</label>
        <locationX>1040</locationX>
        <locationY>1898</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Saveparent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentNavigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Patient_Safety_Risk</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items</name>
        <label>Remove Items?</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Update_Patient_Safety_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientSafetyRiskRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Safety_Risks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items_Parent</name>
        <label>Remove Items Parent?</label>
        <locationX>886</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Patient_Safety_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Ye2s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientSafetyRiskRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Parent_Patient_Safety_Risks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DosingUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dosing_Unit__c</picklistField>
        <picklistObject>Patient_Medication__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FrecuencyOLD</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_of_Substance_Use__c</picklistField>
        <picklistObject>Patient_Substance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SafetyRisks</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Safety_Risk__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Patient Safety Risk Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Safety Risk Mobile</label>
    <loops>
        <name>Deleted_Parent_Patient_Safety_Risks</name>
        <label>Deleted Parent Patient Safety Risks</label>
        <locationX>1040</locationX>
        <locationY>782</locationY>
        <collectionReference>ParentPatientSafetyRisksRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Safety_Risks_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ParentPatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Deleted_Patient_Safety_Risks</name>
        <label>Deleted Patient Safety Risks</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <collectionReference>PatientSafetyRiskRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Safety_Risks_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Parent_Patient_Safety_Risks</name>
        <label>New Parent Patient Safety Risks</label>
        <locationX>1040</locationX>
        <locationY>1190</locationY>
        <collectionReference>ParentPatientSafetyRisksRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Parent_Safety_Risk_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Patient_Safety_Risks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Patient_Safety_Risks</name>
        <label>New Patient Safety Risks</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <collectionReference>PatientSafetyRiskRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Safety_Risk_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Patient_Safety_Risks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Parent_Patient_Safety_Risks</name>
        <label>Update Parent Patient Safety Risks</label>
        <locationX>1040</locationX>
        <locationY>1598</locationY>
        <collectionReference>ParentPatientSafetyRisksRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Safety_Risks_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NavigationParentButtons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Patient_Safety_Risks</name>
        <label>Update Patient Safety Risks</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <collectionReference>PatientSafetyRiskRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Safety_Risks_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Navigationbuttons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Parent_Patient_Safety_Risk</name>
        <label>Create Parent Patient Safety Risk</label>
        <locationX>886</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Remove_Items_Parent</targetReference>
        </connector>
        <inputReference>NewPatientSafetyRisks</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Safety_Risk</name>
        <label>Create Patient Safety Risk</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Remove_Items</targetReference>
        </connector>
        <inputReference>NewPatientSafetyRisks</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Parent_Patient_Safety_Risks</name>
        <label>Delete Parent Patient Safety Risks</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Update_Parent_Patient_Safety_Risk</targetReference>
        </connector>
        <inputReference>ExistingPatientSafetyRiskRecords</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Safety_Risks</name>
        <label>Delete Patient Safety Risks</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_Patient_Safety_Risk</targetReference>
        </connector>
        <inputReference>ExistingPatientSafetyRiskRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Patient_Safety_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Patient_Safety_Risks</name>
        <label>Get Parent Patient Safety Risks</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Parent_Patient_Safety_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Safety_Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Safety_Risk_Selected</name>
        <label>Get Parent Safety Risk Selected</label>
        <locationX>1128</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Patient_Safety_Risks_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Parent_Patient_Safety_Risks.SafetyRiskList2.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Safety_Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Safety_Risks</name>
        <label>Get Patient Safety Risks</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Patient_Safety_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Safety_Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Safety_Risk_Selected</name>
        <label>Get Safety Risk Selected</label>
        <locationX>424</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_Safety_Risks_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Patient_Safety_Risks.SafetyRiskList.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Safety_Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Safety_Risks</name>
        <label>Get Safety Risks</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Case</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Safety_Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ParentPatientRecordstoDelete</name>
        <label>ParentPatientRecordstoDelete</label>
        <locationX>1040</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Parent_Patient_Safety_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientSafetyRisks</elementReference>
            </value>
        </filters>
        <object>Patient_Safety_Risk__c</object>
        <outputReference>ExistingPatientSafetyRiskRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PatientRecordstoDelete</name>
        <label>PatientRecordstoDelete</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Patient_Safety_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientSafetyRisks</elementReference>
            </value>
        </filters>
        <object>Patient_Safety_Risk__c</object>
        <outputReference>ExistingPatientSafetyRiskRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Patient_Safety_Risk</name>
        <label>Update Parent Patient Safety Risk</label>
        <locationX>886</locationX>
        <locationY>2414</locationY>
        <inputReference>UpdatedSafetyRisks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Safety_Risk</name>
        <label>Update Patient Safety Risk</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <inputReference>UpdatedSafetyRisks</inputReference>
    </recordUpdates>
    <screens>
        <name>Existing_Parent_Patient_Safety_Risks</name>
        <label>Existing Parent Patient Safety Risks</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Parent_Patient_Safety_Risks</targetReference>
        </connector>
        <fields>
            <name>ParentPatientSafetyRisksRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>SafetyRiskList2</name>
                <choiceReferences>SafetyRisks</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Safety_Risks[$EachItem].Safety_Risk__r.Name</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Safety Risk</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Safety Risk</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Safety_Risks[$EachItem].Safety_Risk__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>SafetyRisklabel</name>
                <fieldText>&lt;p&gt;Safety Risk: {!Get_Parent_Patient_Safety_Risks[$EachItem].Safety_RiskName__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Safety_Risks[$EachItem].Safety_Risk__r.Name</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Copy_1_of_Category</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Category: {!Get_Parent_Patient_Safety_Risks[$EachItem].Safety_Risk__r.Category__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Safety_Risks[$EachItem].Safety_Risk__r.Category__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>RecentParent</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Safety_Risks[$EachItem].Recent__c</elementReference>
                </defaultValue>
                <fieldText>Recent</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>HistoricalParent</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Safety_Risks[$EachItem].Historical__c</elementReference>
                </defaultValue>
                <fieldText>Historical</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Safety_Risk_Notes_Parent</name>
                <defaultValue>
                    <stringValue>{!Get_Parent_Patient_Safety_Risks[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Parent_Patient_Safety_Risks</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ParentNavigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Patient_Safety_Risks</name>
        <label>Existing Patient Safety Risks</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Patient_Safety_Risks</targetReference>
        </connector>
        <fields>
            <name>PatientSafetyRiskRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>SafetyRiskList</name>
                <choiceReferences>SafetyRisks</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Patient_Safety_Risks[$EachItem].Safety_Risk__c</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Safety Risk</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Safety Risk</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Safety_Risks[$EachItem].Safety_Risk__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>SafetyRisk</name>
                <fieldText>&lt;p&gt;Safety Risk: {!Get_Patient_Safety_Risks[$EachItem].Safety_RiskName__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Safety_Risks[$EachItem].Safety_Risk__r.Name</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Category</name>
                <fieldText>&lt;p&gt;Category: {!Get_Patient_Safety_Risks[$EachItem].Safety_Risk__r.Category__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Safety_Risks[$EachItem].Safety_Risk__r.Category__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Recent</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Safety_Risks[$EachItem].Recent__c</elementReference>
                </defaultValue>
                <fieldText>Recent</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Historical</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Safety_Risks[$EachItem].Historical__c</elementReference>
                </defaultValue>
                <fieldText>Historical</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Safety_Risk_Notes</name>
                <defaultValue>
                    <stringValue>{!Get_Patient_Safety_Risks[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Patient_Safety_Risks</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Navigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Safety_Risks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentSafetyRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
    <variables>
        <name>ExistingPatientSafetyRiskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
    <variables>
        <name>NewPatientSafetyRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
    <variables>
        <name>PatientSafetyRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemovePatientSafetyRisks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedSafetyRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
</Flow>
