force-app/main/default/flows/Patient_Medications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Addiction_Medications</name>
        <label>Assign Addiction Medications</label>
        <locationX>138</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>AvailableMedications</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medication_List_Addiction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Record_ID</name>
        <label>Assign Current Record ID</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>caseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Has_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient</name>
        <label>Assign Parent Patient</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarPatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.Parent.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Record_ID</name>
        <label>Assign Parent Record ID</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>caseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Case_Has_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient</name>
        <label>Assign Patient</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarPatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Psychiatry_Medications</name>
        <label>Assign Psychiatry Medications</label>
        <locationX>402</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>AvailableMedications</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medication_List_Psychiatry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_Record</name>
        <label>Assign Updated Record</label>
        <locationX>490</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPatientMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Updated_Patient_Medication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Patient_Medications_Search</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Patient_Medication_List</name>
        <label>Patient Medication List</label>
        <locationX>490</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>PatientMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Patient_Medication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Has_Patient</name>
        <label>Case Has Patient</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Patient</defaultConnectorLabel>
        <rules>
            <name>Has_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patient</targetReference>
            </connector>
            <label>Has Patient</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_action_button</name>
        <label>check action button</label>
        <locationX>402</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Updated_Patient_Medications_Search</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NavigationButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records_1</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NavigationButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEdits</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_action_button_Part_2</name>
        <label>check action button Part 2</label>
        <locationX>402</locationX>
        <locationY>2906</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>CancelPart2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NavigationButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records_2</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>SavePart2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NavigationButtons2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEdits_Part_2</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Case_Type</name>
        <label>Get Case Type</label>
        <locationX>402</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Addiction_Medicine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addiction Medicine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medication_List_Addiction</targetReference>
            </connector>
            <label>Addiction Medicine</label>
        </rules>
        <rules>
            <name>General_Psychiatry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Psychiatry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Medication_List_Psychiatry</targetReference>
            </connector>
            <label>General Psychiatry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Case_Has_Patient</name>
        <label>Parent Case Has Patient</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent Patient</defaultConnectorLabel>
        <rules>
            <name>Has_Parent_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.Parent.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Patient</targetReference>
            </connector>
            <label>Has Parent Patient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_or_Subcase</name>
        <label>Parent or Subcase</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Parent_Record_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Subcase</defaultConnectorLabel>
        <rules>
            <name>Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Record_ID</targetReference>
            </connector>
            <label>Parent Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Patient Medications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Medications</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>402</locationX>
        <locationY>1358</locationY>
        <collectionReference>MedicationListDatatable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Patient_Medications</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Input</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Updated_Patient_Medications</name>
        <label>Updated Patient Medications</label>
        <locationX>446</locationX>
        <locationY>3122</locationY>
        <collectionReference>PatientMedications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Get_Updated_Patient_Medication</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Updated_Patient_Medications_Search</name>
        <label>Updated Patient Medications Search</label>
        <locationX>402</locationX>
        <locationY>2390</locationY>
        <collectionReference>PatientMedications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Updated_Patient_Medication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Input_Part_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patient_Medications</name>
        <label>Create Patient Medications</label>
        <locationX>490</locationX>
        <locationY>1466</locationY>
        <assignRecordIdToReference>CreatedPatientMedication.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Patient_Medication</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>caseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medication_List__c</field>
            <value>
                <elementReference>Loop_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>VarPatientId</elementReference>
            </value>
        </inputAssignments>
        <object>Patient_Medication__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Records_1</name>
        <label>Delete Records 1</label>
        <locationX>138</locationX>
        <locationY>2090</locationY>
        <inputReference>PatientMedications</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Records_2</name>
        <label>Delete Records 2</label>
        <locationX>94</locationX>
        <locationY>3014</locationY>
        <inputReference>UpdatedPatientMedications</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Updated_Patient_Medication</name>
        <label>Get Updated Patient Medication</label>
        <locationX>534</locationX>
        <locationY>3230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Submission_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updated_Patient_Medications.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_or_Subcase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication_List_Addiction</name>
        <label>Get Medication List - Addiction</label>
        <locationX>138</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Addiction_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Addiction_Services__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication_List_Psychiatry</name>
        <label>Get Medication List - Psychiatry</label>
        <locationX>402</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Psychiatry_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>General_Psychiatry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Medication</name>
        <label>Get Patient Medication</label>
        <locationX>490</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient_Medication_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreatedPatientMedication.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Patient_Medication</name>
        <label>Get Updated Patient Medication</label>
        <locationX>490</locationX>
        <locationY>2498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Updated_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updated_Patient_Medications_Search.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Patient_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Submission_Completed</name>
        <label>Update Submission Completed</label>
        <locationX>534</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Updated_Patient_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Updated_Patient_Medication.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Updated_Patient_Medication.Notes_short__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Patient_Medication__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEdits</name>
        <label>UpdateEdits</label>
        <locationX>402</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Updated_Patient_Medications_Search</targetReference>
        </connector>
        <inputReference>PatientMedicationDatatable.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateEdits_Part_2</name>
        <label>UpdateEdits Part 2</label>
        <locationX>446</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>Updated_Patient_Medications</targetReference>
        </connector>
        <inputReference>PatientMedicationDatatable2.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>402</locationX>
        <locationY>1874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>check_action_button</targetReference>
        </connector>
        <fields>
            <name>PatientMedicationDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Patient_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Patient_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Medication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Medication__c,Notes__c,Medication_Changes__c,Current_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Medication__c:0, Notes__c:0, Medication_Changes__c:0, Current_Medication__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>PatientMedications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Medication__c:true, MedicationNotes__c:true, Medication_Changes__c:true, Current_Medication__c:false, Frequency__c:true, Amount__c:true, Dosing_Unit__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NavigationButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Part_2</name>
        <label>Input Part 2</label>
        <locationX>402</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>check_action_button_Part_2</targetReference>
        </connector>
        <fields>
            <name>PatientMedicationDatatable2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Patient_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Patient_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Medication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Medication__c,Frequency__c,Amount__c,Dosing_Unit__c,Allergy__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Medication__c:0, Frequency__c:0, Amount__c:0, Dosing_Unit__c:0, Allergy__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Medication__c:true, MedicationNotes__c:true, Medication_Changes__c:true, Current_Medication__c:false, Frequency__c:true, Amount__c:true, Dosing_Unit__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>UpdatedPatientMedications</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NavigationButtons2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medication</name>
        <label>Medication</label>
        <locationX>402</locationX>
        <locationY>1250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <fields>
            <name>MedicationListDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Brand_Name_s__c,Category__c,Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:0, Brand_Name_s__c:0, Category__c:0, Description__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>100.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Medications</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, Brand_Name_s__c:true, Category__c:true, Description__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AvailableMedications</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AvailableMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Medication__c</objectType>
    </variables>
    <variables>
        <name>caseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedPatientMedication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>IDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>PatientMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selections</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedPatientMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>VarPatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Current_Case.ContactId</elementReference>
        </value>
    </variables>
</Flow>
