force-app/main/default/flows/Patient_Substance_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Patient_Substances_to_Add</name>
        <label>Assign Parent Patient Substances to Add</label>
        <locationX>1128</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>PatientSubstance.Substance_Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Substance_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Substances.Substance_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Frequency_of_Substance_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Substances.Parent_Frecuency_Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Submission_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Current_Substance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Substances.Current_Substance_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSubstances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientSubstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Parent_Patient_Substances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Substances_to_Delete</name>
        <label>Assign Parent Patient Substances to Delete</label>
        <locationX>1128</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientSubstances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deleted_Parent_Patient_Substances.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Parent_Patient_Substances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Substances_to_Update</name>
        <label>Assign Parent Patient Substances to Update</label>
        <locationX>1128</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>CurrentSubstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Substances.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSubstance.Frequency_of_Substance_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Substances.Parent_Frecuency_Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSubstance.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Substances.Substance_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSubstance.Current_Substance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Substances.Current_Substance_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientSubstances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSubstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Patient_Substances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Substances_to_Add</name>
        <label>Assign Patient Substances to Add</label>
        <locationX>424</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>PatientSubstance.Substance_Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Substance_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Substances.Substance_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Frequency_of_Substance_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Substances.FrecuencyPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Submission_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSubstance.Current_Substance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Substances.Current_Substance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSubstances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientSubstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Patient_Substances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Substances_to_Delete</name>
        <label>Assign Patient Substances to Delete</label>
        <locationX>424</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientSubstances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deleted_Patient_Substances.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Patient_Substances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Substances_to_Update</name>
        <label>Assign Patient Substances to Update</label>
        <locationX>424</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>CurrentSubstance.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Substances.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSubstance.Frequency_of_Substance_Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Substances.FrecuencyPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSubstance.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Substances.Substance_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSubstance.Current_Substance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Substances.Current_Substance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientSubstances</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSubstance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Substances</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Substances</targetReference>
            </connector>
            <label>Parent Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigationbuttons</name>
        <label>Navigation</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>cancel_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Substance</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>NavigationParentButtons</name>
        <label>Navigation</label>
        <locationX>1040</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>cancel_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Saveparent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentNavigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Patient_Substance</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items</name>
        <label>Remove Items?</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Update_Patient_Substance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientSubstanceRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Substances</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items_Parent</name>
        <label>Remove Items Parent?</label>
        <locationX>886</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Patient_Substance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Ye2s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientSubstanceRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Parent_Patient_Substances</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Frecuency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_of_Substance_Use__c</picklistField>
        <picklistObject>Patient_Substance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Substances</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Substance_List__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Patient Substance Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Substance Mobile</label>
    <loops>
        <name>Deleted_Parent_Patient_Substances</name>
        <label>Deleted Parent Patient Substances</label>
        <locationX>1040</locationX>
        <locationY>782</locationY>
        <collectionReference>ParentPatientSubstanceRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Substances_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ParentPatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Deleted_Patient_Substances</name>
        <label>Deleted Patient Substances</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <collectionReference>PatientSubstanceRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Substances_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Parent_Patient_Substances</name>
        <label>New Parent Patient Substances</label>
        <locationX>1040</locationX>
        <locationY>1190</locationY>
        <collectionReference>ParentPatientSubstanceRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Parent_Substance_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Patient_Substances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Patient_Substances</name>
        <label>New Patient Substances</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <collectionReference>PatientSubstanceRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Substance_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Patient_Substances</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Parent_Patient_Substances</name>
        <label>Update Parent Patient Substances</label>
        <locationX>1040</locationX>
        <locationY>1598</locationY>
        <collectionReference>ParentPatientSubstanceRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Substances_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NavigationParentButtons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Patient_Substances</name>
        <label>Update Patient Substances</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <collectionReference>PatientSubstanceRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Substances_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Navigationbuttons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Parent_Patient_Substance</name>
        <label>Create Parent Patient Substance</label>
        <locationX>886</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Remove_Items_Parent</targetReference>
        </connector>
        <inputReference>NewPatientSubstances</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Substance</name>
        <label>Create Patient Substance</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Remove_Items</targetReference>
        </connector>
        <inputReference>NewPatientSubstances</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Parent_Patient_Substances</name>
        <label>Delete Parent Patient Substances</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Update_Parent_Patient_Substance</targetReference>
        </connector>
        <inputReference>ExistingPatientSubstanceRecords</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Substances</name>
        <label>Delete Patient Substances</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_Patient_Substance</targetReference>
        </connector>
        <inputReference>ExistingPatientSubstanceRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Patient_Substances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Patient_Substances</name>
        <label>Get Parent Patient Substances</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Parent_Patient_Substances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Substance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Substance_Selected</name>
        <label>Get Parent Substance Selected</label>
        <locationX>1128</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Patient_Substances_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Parent_Patient_Substances.SubstanceList2.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Substance_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Substances</name>
        <label>Get Patient Substances</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Patient_Substances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Substance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Substance_Selected</name>
        <label>Get Substance Selected</label>
        <locationX>424</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_Substances_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Patient_Substances.SubstanceList.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Substance_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Substances</name>
        <label>Get Substances</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Case</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Substance_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ParentPatientRecordstoDelete</name>
        <label>ParentPatientRecordstoDelete</label>
        <locationX>1040</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Parent_Patient_Substances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientSubstances</elementReference>
            </value>
        </filters>
        <object>Patient_Substance__c</object>
        <outputReference>ExistingPatientSubstanceRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PatientRecordstoDelete</name>
        <label>PatientRecordstoDelete</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Patient_Substances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientSubstances</elementReference>
            </value>
        </filters>
        <object>Patient_Substance__c</object>
        <outputReference>ExistingPatientSubstanceRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Patient_Substance</name>
        <label>Update Parent Patient Substance</label>
        <locationX>886</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>UpdatedPatientSubstances</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Substance</name>
        <label>Update Patient Substance</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>UpdatedPatientSubstances</inputReference>
    </recordUpdates>
    <screens>
        <name>cancel_message</name>
        <label>cancel message</label>
        <locationX>490</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cancel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have canceled your transaction. No changes have been made. Please click the back button above to return to the patient record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Parent_Patient_Substances</name>
        <label>Existing Parent Patient Substances</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Parent_Patient_Substances</targetReference>
        </connector>
        <fields>
            <name>ParentPatientSubstanceRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>SubstanceList2</name>
                <choiceReferences>Substances</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Substances[$EachItem].Substance_Listing__r.Name</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Substance</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Substance</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Substances[$EachItem].Substance_Listing__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sustancelabel</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Substance: {!Get_Parent_Patient_Substances[$EachItem].Substance_Listing__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Substances[$EachItem].Substance__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Copy_1_of_Category</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Category: {!Get_Parent_Patient_Substances[$EachItem].Substance_Listing__r.Substance_Category__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Substances[$EachItem].Substance_Listing__r.Substance_Category__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Current_Substance_Parent</name>
                <dataType>Boolean</dataType>
                <fieldText>Current Substance</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Substance_Notes_Parent</name>
                <defaultValue>
                    <stringValue>{!Get_Parent_Patient_Substances[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Parent_Frecuency_Label</name>
                <choiceReferences>Frecuency</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Substances[$EachItem].Frequency_of_Substance_Use__c</elementReference>
                </defaultValue>
                <fieldText>Frecuency of Substance Use:</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Parent_Patient_Substances</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ParentNavigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Patient_Substances</name>
        <label>Existing Patient Substances</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Patient_Substances</targetReference>
        </connector>
        <fields>
            <name>PatientSubstanceRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>SubstanceList</name>
                <choiceReferences>Substances</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Patient_Substances[$EachItem].Substance_Listing__r.Name</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Substance</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Substance</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Substances[$EachItem].Substance__c</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Substance</name>
                <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Substance: {!Get_Patient_Substances[$EachItem].Substance__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Substances[$EachItem].Substance__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Category</name>
                <fieldText>&lt;p&gt;Category: {!Get_Patient_Substances[$EachItem].Substance_Listing__r.Substance_Category__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Substances[$EachItem].Substance_Listing__r.Substance_Category__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Current_Substance</name>
                <dataType>Boolean</dataType>
                <fieldText>Current Substance</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Substance_Notes</name>
                <defaultValue>
                    <stringValue>{!Get_Patient_Substances[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FrecuencyPicklist</name>
                <choiceReferences>Frecuency</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Substances[$EachItem].Frequency_of_Substance_Use__c</elementReference>
                </defaultValue>
                <fieldText>Frecuency of Substance Use</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Patient_Substances</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Navigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>688</locationX>
        <locationY>2690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Success!&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;Your updates have been saved. Please click the back button above to return to the patient record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Substances</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentSubstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Substance__c</objectType>
    </variables>
    <variables>
        <name>ExistingPatientSubstanceRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Substance__c</objectType>
    </variables>
    <variables>
        <name>NewPatientSubstances</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Substance__c</objectType>
    </variables>
    <variables>
        <name>PatientSubstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Substance__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemovePatientSubstances</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedPatientSubstances</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Substance__c</objectType>
    </variables>
</Flow>
