force-app/main/default/flows/Patient_Concerns_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Patient_Concerns_to_Add</name>
        <label>Assign Parent Patient Concerns to Add</label>
        <locationX>1128</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>PatientConcern.Concern__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Concern_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientConcern.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientConcern.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientConcern.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Concerns.Concern_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientConcerns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientConcern</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Parent_Patient_Concerns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Concerns_to_Delete</name>
        <label>Assign Parent Patient Concerns to Delete</label>
        <locationX>1128</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientConcerns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deleted_Parent_Patient_Concerns.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Parent_Patient_Concerns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Corncern_to_Update</name>
        <label>Assign Parent Patient Corncern to Update</label>
        <locationX>1128</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPatientConcern.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Concerns.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientConcern.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Concerns.Concern_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientConcerns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedPatientConcern</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Patient_Concerns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Concerns_to_Add</name>
        <label>Assign Patient Concerns to Add</label>
        <locationX>424</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>PatientConcern.Concern__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Concern_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientConcern.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientConcern.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientConcern.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Concerns.Concern_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientConcerns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientConcern</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Patient_Concerns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Concerns_to_Delete</name>
        <label>Assign Patient Concerns to Delete</label>
        <locationX>424</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientConcerns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deleted_Patient_Concerns.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Patient_Concerns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Corncern_to_Update</name>
        <label>Assign Patient Corncern to Update</label>
        <locationX>424</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPatientConcern.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Concerns.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientConcern.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Concerns.Concern_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientConcerns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedPatientConcern</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Concerns</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Concerns</targetReference>
            </connector>
            <label>Parent Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>NavigationBar</name>
        <label>Navigation?</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Cancel_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Items</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>NavigationParent</name>
        <label>Navigation?</label>
        <locationX>1040</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Cancel_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>SaveParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentNavigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Patient_Concern</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items</name>
        <label>Remove Items?</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Create_Patient_Concern</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientConcernRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Concerns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items_Parent</name>
        <label>Remove Items Parent?</label>
        <locationX>886</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Update_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Ye2s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientConcernRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Parent_Patient_Concerns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Items</name>
        <label>Update Items?</label>
        <locationX>886</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Success_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdatedPatientConcern.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Patient_Concern</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Concerns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Concern_List__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Patient Concerns Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Concerns Mobile</label>
    <loops>
        <name>Deleted_Parent_Patient_Concerns</name>
        <label>Deleted Parent Patient Concerns</label>
        <locationX>1040</locationX>
        <locationY>782</locationY>
        <collectionReference>ParentPatientConcernsRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Concerns_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ParentPatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Deleted_Patient_Concerns</name>
        <label>Deleted Patient Concerns</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <collectionReference>PatientConcernsRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Concerns_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Parent_Patient_Concerns</name>
        <label>New Parent Patient Concerns</label>
        <locationX>1040</locationX>
        <locationY>1190</locationY>
        <collectionReference>ParentPatientConcernsRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Parent_Concern_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Patient_Concerns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Patient_Concerns</name>
        <label>New Patient Concerns</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <collectionReference>PatientConcernsRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Concern_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Patient_Concerns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Parent_Patient_Concerns</name>
        <label>Update Parent Patient Concerns</label>
        <locationX>1040</locationX>
        <locationY>1598</locationY>
        <collectionReference>ParentPatientConcernsRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Corncern_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NavigationParent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Patient_Concerns</name>
        <label>Update Patient Concerns</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <collectionReference>PatientConcernsRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Corncern_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NavigationBar</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Parent_Patient_Concern</name>
        <label>Create Parent Patient Concern</label>
        <locationX>886</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Remove_Items_Parent</targetReference>
        </connector>
        <inputReference>NewPatientConcerns</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Concern</name>
        <label>Create Patient Concern</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Update_Patient_Concern</targetReference>
        </connector>
        <inputReference>NewPatientConcerns</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Parent_Patient_Concerns</name>
        <label>Delete Parent Patient Concerns</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Update_Items</targetReference>
        </connector>
        <inputReference>ExistingPatientConcernRecords</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Concerns</name>
        <label>Delete Patient Concerns</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Create_Patient_Concern</targetReference>
        </connector>
        <inputReference>ExistingPatientConcernRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Concern_Selected</name>
        <label>Get Concern Selected</label>
        <locationX>424</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_Concerns_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Patient_Concerns.ConcernList.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Concern_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Concerns</name>
        <label>Get Concerns</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Case</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Concern_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Patient_Concerns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Concern_Selected</name>
        <label>Get Parent Concern Selected</label>
        <locationX>1128</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Patient_Concerns_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Parent_Patient_Concerns.Copy_1_of_ConcernList.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Concern_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Patient_Concerns</name>
        <label>Get Parent Patient Concerns</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Parent_Patient_Concerns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Concern__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Concerns</name>
        <label>Get Patient Concerns</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Patient_Concerns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Concern__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ParentPatientRecordstoDelete</name>
        <label>ParentPatientRecordstoDelete</label>
        <locationX>1040</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Parent_Patient_Concerns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientConcerns</elementReference>
            </value>
        </filters>
        <object>Patient_Concern__c</object>
        <outputReference>ExistingPatientConcernRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PatientRecordstoDelete</name>
        <label>PatientRecordstoDelete</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Patient_Concerns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientConcerns</elementReference>
            </value>
        </filters>
        <object>Patient_Concern__c</object>
        <outputReference>ExistingPatientConcernRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Patient_Concern</name>
        <label>Update Parent Patient Concern</label>
        <locationX>754</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>UpdatedPatientConcerns</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Concern</name>
        <label>Update Patient Concern</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>UpdatedPatientConcerns</inputReference>
    </recordUpdates>
    <screens>
        <name>Cancel_Message</name>
        <label>Cancel Message</label>
        <locationX>490</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_message</name>
            <fieldText>&lt;p&gt;You have canceled your transaction. No changes have been made. Please click the back button above to return to the patient record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Parent_Patient_Concerns</name>
        <label>Existing Parent Patient Concerns</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Parent_Patient_Concerns</targetReference>
        </connector>
        <fields>
            <name>ParentPatientConcernsRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Copy_1_of_ConcernList</name>
                <choiceReferences>Concerns</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Concerns[$EachItem].Concern__r.Name</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Concern</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Concern</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Concerns[$EachItem].ConcernName__c</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Copy_1_of_Concern</name>
                <fieldText>&lt;p&gt;Concern: {!Get_Parent_Patient_Concerns[$EachItem].ConcernName__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Concerns[$EachItem].ConcernName__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Copy_1_of_Category</name>
                <fieldText>&lt;p&gt;Category: {!Get_Parent_Patient_Concerns[$EachItem].Concern__r.Category__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Concerns[$EachItem].Concern__r.Category__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Concern_Notes_Parent</name>
                <defaultValue>
                    <stringValue>{!Get_Parent_Patient_Concerns[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Parent_Patient_Concerns</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ParentNavigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Patient_Concerns</name>
        <label>Existing Patient Concerns</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Patient_Concerns</targetReference>
        </connector>
        <fields>
            <name>PatientConcernsRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ConcernList</name>
                <choiceReferences>Concerns</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Patient_Concerns[$EachItem].Concern__r.Name</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Concern</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Concern</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Concerns[$EachItem].ConcernName__c</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Concern</name>
                <fieldText>&lt;p&gt;Concern: {!Get_Patient_Concerns[$EachItem].ConcernName__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Concerns[$EachItem].ConcernName__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Category</name>
                <fieldText>&lt;p&gt;Category: {!Get_Patient_Concerns[$EachItem].Concern__r.Category__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Concerns[$EachItem].Concern__r.Category__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Concern_Notes</name>
                <defaultValue>
                    <stringValue>{!Get_Patient_Concerns[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Patient_Concerns</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Navigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>688</locationX>
        <locationY>2882</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Success!&lt;/strong&gt; Your updates have been saved. Please click the back button above to return to the patient record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Concerns</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingPatientConcernRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Concern__c</objectType>
    </variables>
    <variables>
        <name>NewPatientConcerns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Concern__c</objectType>
    </variables>
    <variables>
        <name>PatientConcern</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Concern__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemovePatientConcerns</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedConcernList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>New_Patient_Concerns.ConcernList.selectedChoiceValues</elementReference>
        </value>
    </variables>
    <variables>
        <name>UpdatedPatientConcern</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Concern__c</objectType>
    </variables>
    <variables>
        <name>UpdatedPatientConcerns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Concern__c</objectType>
    </variables>
</Flow>
