force-app/main/default/flows/Patient_Medication_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Patient_Medications_to_Add</name>
        <label>Assign Parent Patient Medications to Add</label>
        <locationX>1128</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>PatientMedication.Medication_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Medication_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.MedicationNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Medications.Medication_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Medications.Parent_Frecuency_Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Current_Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Medications.Current_Medication_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Medications.Amount_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Dosing_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Medications.Dosing_Unit_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Medication_Changes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Medications.Medication_Changes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Submission_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientMedication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Parent_Patient_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Medications_to_Delete</name>
        <label>Assign Parent Patient Medications to Delete</label>
        <locationX>1128</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deleted_Parent_Patient_Medications.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Parent_Patient_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Medications_to_Update</name>
        <label>Assign Parent Patient Medications to Update</label>
        <locationX>1128</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>CurrentMedication.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Medications.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Medications.Parent_Frecuency_Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.MedicationNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Medications.Medication_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Current_Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Medications.Current_Medication_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Medications.Amount_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Dosing_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Medications.Dosing_Unit_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Medication_Changes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Medications.Medication_Changes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentMedication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Patient_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Medications_to_Add</name>
        <label>Assign Patient Medications to Add</label>
        <locationX>424</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>PatientMedication.Medication_List__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medication_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.MedicationNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Medications.Medication_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Medications.FrecuencyPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Current_Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Medications.Current_Medication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Medications.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Dosing_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Medications.Dosing_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Medication_Changes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Medications.Medication_Changes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientMedication.Submission_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientMedication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Patient_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Medications_to_Delete</name>
        <label>Assign Patient Medications to Delete</label>
        <locationX>424</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Deleted_Patient_Medications.UniqueField__Id}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Patient_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Medications_to_Update</name>
        <label>Assign Patient Medications to Update</label>
        <locationX>424</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>CurrentMedication.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Medications.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Medications.FrecuencyPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.MedicationNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Medications.Medication_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Medications.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Dosing_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Medications.Dosing_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Medication_Changes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Medications.Medication_Changes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMedication.Current_Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Medications.Current_Medication</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentMedication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Medications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Medications</targetReference>
            </connector>
            <label>Parent Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigationbuttons</name>
        <label>Navigation</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Cancel_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Medication</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>NavigationParentButtons</name>
        <label>Navigation</label>
        <locationX>1040</locationX>
        <locationY>1898</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Saveparent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentNavigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Patient_Medication</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items</name>
        <label>Remove Items?</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Update_Patient_Medication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientMedicationRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Medications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items_Parent</name>
        <label>Remove Items Parent?</label>
        <locationX>886</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Patient_Medication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Ye2s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientMedicationRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Parent_Patient_Medications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DosingUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dosing_Unit__c</picklistField>
        <picklistObject>Patient_Medication__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FrecuencyMedication</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency__c</picklistField>
        <picklistObject>Patient_Medication__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FrecuencyOLD</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_of_Substance_Use__c</picklistField>
        <picklistObject>Patient_Substance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MedicationChanges</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Medication_Changes__c</picklistField>
        <picklistObject>Patient_Medication__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Medications</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Medication__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Patient Medication Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Medication Mobile</label>
    <loops>
        <name>Deleted_Parent_Patient_Medications</name>
        <label>Deleted Parent Patient Medications</label>
        <locationX>1040</locationX>
        <locationY>782</locationY>
        <collectionReference>ParentPatientMedicationRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Medications_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ParentPatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Deleted_Patient_Medications</name>
        <label>Deleted Patient Medications</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <collectionReference>PatientMedicationRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Medications_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Parent_Patient_Medications</name>
        <label>New Parent Patient Medications</label>
        <locationX>1040</locationX>
        <locationY>1190</locationY>
        <collectionReference>ParentPatientMedicationRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Parent_Medication_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Patient_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Patient_Medications</name>
        <label>New Patient Medications</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <collectionReference>PatientMedicationRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Medication_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Patient_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Parent_Patient_Medications</name>
        <label>Update Parent Patient Medications</label>
        <locationX>1040</locationX>
        <locationY>1598</locationY>
        <collectionReference>ParentPatientMedicationRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Medications_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NavigationParentButtons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Patient_Medications</name>
        <label>Update Patient Medications</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <collectionReference>PatientMedicationRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Medications_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Navigationbuttons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Parent_Patient_Medication</name>
        <label>Create Parent Patient Medication</label>
        <locationX>886</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Remove_Items_Parent</targetReference>
        </connector>
        <inputReference>NewPatientMedications</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Medication</name>
        <label>Create Patient Medication</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Remove_Items</targetReference>
        </connector>
        <inputReference>NewPatientMedications</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Parent_Patient_Medications</name>
        <label>Delete Parent Patient Medications</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Update_Parent_Patient_Medication</targetReference>
        </connector>
        <inputReference>ExistingPatientMedicationRecords</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Medications</name>
        <label>Delete Patient Medications</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_Patient_Medication</targetReference>
        </connector>
        <inputReference>ExistingPatientMedicationRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication_Selected</name>
        <label>Get Medication Selected</label>
        <locationX>424</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_Medications_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Patient_Medications.MedicationList.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medications</name>
        <label>Get Medications</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Case</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Patient_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Medication_Selected</name>
        <label>Get Parent Medication Selected</label>
        <locationX>1128</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Patient_Medications_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Parent_Patient_Medications.MedicationList2.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Patient_Medications</name>
        <label>Get Parent Patient Medications</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Parent_Patient_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Medications</name>
        <label>Get Patient Medications</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Patient_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ParentPatientRecordstoDelete</name>
        <label>ParentPatientRecordstoDelete</label>
        <locationX>1040</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Parent_Patient_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientMedications</elementReference>
            </value>
        </filters>
        <object>Patient_Medication__c</object>
        <outputReference>ExistingPatientMedicationRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PatientRecordstoDelete</name>
        <label>PatientRecordstoDelete</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Patient_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientMedications</elementReference>
            </value>
        </filters>
        <object>Patient_Medication__c</object>
        <outputReference>ExistingPatientMedicationRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Patient_Medication</name>
        <label>Update Parent Patient Medication</label>
        <locationX>886</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>UpdatedPatientMedications</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Medication</name>
        <label>Update Patient Medication</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>UpdatedPatientMedications</inputReference>
    </recordUpdates>
    <screens>
        <name>Cancel_message</name>
        <label>Cancel message</label>
        <locationX>490</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cancel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have canceled your transaction. No changes have been made. Please click the back button above to return to the patient record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Parent_Patient_Medications</name>
        <label>Existing Parent Patient Medications</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Parent_Patient_Medications</targetReference>
        </connector>
        <fields>
            <name>ParentPatientMedicationRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>MedicationList2</name>
                <choiceReferences>Medications</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Medications[$EachItem].Medication_List__r.Name</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Medication</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Medication</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Medications[$EachItem].Medication_List__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Sustancelabel</name>
                <fieldText>&lt;p&gt;Medication: {!Get_Parent_Patient_Medications[$EachItem].Medication_List__r.Name}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Medications[$EachItem].Medication_List__r.Name</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>BrandNameParent</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Brand Name: {!Get_Parent_Patient_Medications[$EachItem].Medication_List__r.Brand_Name_s__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Medications[$EachItem].Medication_List__r.Brand_Name_s__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Copy_1_of_Category</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Category: {!Get_Parent_Patient_Medications[$EachItem].Medication_List__r.Category__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Medications[$EachItem].Medication_List__r.Category__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Current_Medication_Parent</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Medications[$EachItem].Current_Medication__c</elementReference>
                </defaultValue>
                <fieldText>Current Medication</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Medication_Changes_Parent</name>
                <choiceReferences>MedicationChanges</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Medications[$EachItem].Medication_Changes__c</elementReference>
                </defaultValue>
                <fieldText>Medication Changes</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Amount_Parent</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Medications[$EachItem].Amount__c</elementReference>
                </defaultValue>
                <fieldText>Amount</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Dosing_Unit_Parent</name>
                <choiceReferences>DosingUnit</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Medications[$EachItem].Dosing_Unit__c</elementReference>
                </defaultValue>
                <fieldText>Dosing Unit</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Parent_Frecuency_Label</name>
                <choiceReferences>FrecuencyMedication</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Medications[$EachItem].Frequency__c</elementReference>
                </defaultValue>
                <fieldText>Frecuency</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Medication_Notes_Parent</name>
                <defaultValue>
                    <stringValue>{!Get_Parent_Patient_Medications[$EachItem].MedicationNotes__c}</stringValue>
                </defaultValue>
                <fieldText>Medication Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Parent_Patient_Medications</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ParentNavigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Patient_Medications</name>
        <label>Existing Patient Medications</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Patient_Medications</targetReference>
        </connector>
        <fields>
            <name>PatientMedicationRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>MedicationList</name>
                <choiceReferences>Medications</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Patient_Medications[$EachItem].Medication_List__r.Name</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Medication</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Medication</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Medications[$EachItem].Medication__c</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Medication</name>
                <fieldText>&lt;p&gt;Medication: {!Get_Patient_Medications[$EachItem].Medication__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Medications[$EachItem].Medication__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>BrandName</name>
                <fieldText>&lt;p&gt;Brand Name: {!Get_Patient_Medications[$EachItem].Medication_List__r.Brand_Name_s__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Medications[$EachItem].Medication_List__r.Brand_Name_s__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Category</name>
                <fieldText>&lt;p&gt;Category: {!Get_Patient_Medications[$EachItem].Medication_List__r.Category__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Medications[$EachItem].Medication_List__r.Category__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Current_Medication</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Medications[$EachItem].Current_Medication__c</elementReference>
                </defaultValue>
                <fieldText>Current Medication</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Medication_Changes</name>
                <choiceReferences>MedicationChanges</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Medications[$EachItem].Medication_Changes__c</elementReference>
                </defaultValue>
                <fieldText>Medication Changes</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Amount</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Medications[$EachItem].Amount__c</elementReference>
                </defaultValue>
                <fieldText>Amount</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>2</scale>
            </fields>
            <fields>
                <name>Dosing_Unit</name>
                <choiceReferences>DosingUnit</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Medications[$EachItem].Dosing_Unit__c</elementReference>
                </defaultValue>
                <fieldText>Dosing Unit</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FrecuencyPicklist</name>
                <choiceReferences>FrecuencyMedication</choiceReferences>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Medications[$EachItem].Frequency__c</elementReference>
                </defaultValue>
                <fieldText>Frecuency</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Medication_Notes</name>
                <defaultValue>
                    <stringValue>{!Get_Patient_Medications[$EachItem].MedicationNotes__c}</stringValue>
                </defaultValue>
                <fieldText>Medication Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Patient_Medications</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Navigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>688</locationX>
        <locationY>2690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Success!&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;Your updates have been saved. Please click the back button above to return to the patient record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Medications</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentMedication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>ExistingPatientMedicationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>NewPatientMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>PatientMedication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemovePatientMedications</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedPatientMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
</Flow>
