force-app/main/default/flows/Patient_Update_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Patient_Supports</name>
        <label>Assign Patient Supports</label>
        <locationX>440</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>PatientSupport.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Running_Case.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSupport.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Supports.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientSupports</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientSupport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Supports</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Patient Update on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Update on Case</label>
    <loops>
        <name>Change_Patient_Supports</name>
        <label>Change Patient Supports</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Case_Care_Navigations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Patient_Supports</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Patient_Support_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Patient_Supports</name>
        <label>Update Patient Supports</label>
        <locationX>352</locationX>
        <locationY>1322</locationY>
        <collectionReference>Get_Patient_Supports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Supports</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Change_Patient_Supports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Care_Navigation_Case_Record_Type</name>
        <label>Get Care Navigation Case Record Type</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Care_Navigations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care_Navigation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Care_Navigations</name>
        <label>Get Case - Care Navigations</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Patient_Supports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Running_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Care_Navigation_Case_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Supports</name>
        <label>Get Patient Supports</label>
        <locationX>352</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Patient_Supports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Change_Patient_Supports.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Support__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_Case</name>
        <label>Get Running Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SubCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_Concerns</name>
        <label>Update Patient Concerns</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Patient_Screeners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Running_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Running_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Patient_Concern__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Medications</name>
        <label>Update Patient Medications</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Patient_Substances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Running_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Running_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Patient_Medication__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Safety_Risks</name>
        <label>Update Patient Safety Risks</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Care_Navigation_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Running_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Running_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Patient_Safety_Risk__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Screeners</name>
        <label>Update Patient Screeners</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Patient_Safety_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Running_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Running_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Patient_Screener__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Substances</name>
        <label>Update Patient Substances</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Patient_Concerns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Running_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Running_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Patient_Substance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Support_Records</name>
        <label>Update Patient Support Records</label>
        <locationX>176</locationX>
        <locationY>1706</locationY>
        <inputReference>PatientSupports</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SubCases</name>
        <label>Update SubCases</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Update_Patient_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Running_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Running_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Running_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PatientSupport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Support__c</objectType>
    </variables>
    <variables>
        <name>PatientSupports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Support__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
