force-app/main/default/flows/Patient_Support_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Patient_Supports_to_Add</name>
        <label>Assign Patient Supports to Add</label>
        <locationX>424</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Support_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Notes_new__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Supports.Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Supports.Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Going__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Supports.Going</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Appointment_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Supports.Appointment_Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Appointment_Completed_Ineffective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Supports.Appointment_Completed_Ineffective</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Care_Not_Applicable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Supports.Care_Not_Applicable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Suspended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Supports.Suspended</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupport.Submission_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientSupports</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewPatientSupport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Patient_Supports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Supports_to_Delete</name>
        <label>Assign Patient Supports to Delete</label>
        <locationX>424</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientSupports</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deleted_Patient_Supports.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Patient_Supports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Supports_to_Update</name>
        <label>Assign Patient Supports to Update</label>
        <locationX>424</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>CurrentPatientSupport.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Supports.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPatientSupport.Notes_new__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Supports.Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPatientSupport.Going__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Supports.Going</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPatientSupport.Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Supports.Scheduled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPatientSupport.Appointment_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Supports.Appointment_Completed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPatientSupport.Appointment_Completed_Ineffective__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Supports.Appointment_Completed_Ineffective</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPatientSupport.Care_Not_Applicable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Supports.Care_Not_Applicable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPatientSupport.Suspended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Supports.Suspended</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientSupports</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPatientSupport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Supports</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Navigationbuttons</name>
        <label>Navigation</label>
        <locationX>336</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Cancel_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Support</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items</name>
        <label>Remove Items?</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Update_Patient_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientSupportRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Supports</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DosingUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dosing_Unit__c</picklistField>
        <picklistObject>Patient_Medication__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FrecuencyOLD</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_of_Substance_Use__c</picklistField>
        <picklistObject>Patient_Substance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupportsAddiction</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Addiction_Services__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Support__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SupportsPsychiatry</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>General_Psychiatry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Support__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Patient Support Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Support Mobile</label>
    <loops>
        <name>Deleted_Patient_Supports</name>
        <label>Deleted Patient Supports</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <collectionReference>PatientSupportRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Supports_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Patient_Supports</name>
        <label>New Patient Supports</label>
        <locationX>336</locationX>
        <locationY>866</locationY>
        <collectionReference>PatientSupportRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Support_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Patient_Supports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Patient_Supports</name>
        <label>Update Patient Supports</label>
        <locationX>336</locationX>
        <locationY>1274</locationY>
        <collectionReference>PatientSupportRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Supports_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Navigationbuttons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Patient_Support</name>
        <label>Create Patient Support</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Remove_Items</targetReference>
        </connector>
        <inputReference>NewPatientSupports</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Patient_Supports</name>
        <label>Delete Patient Supports</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Update_Patient_Support</targetReference>
        </connector>
        <inputReference>ExistingPatientSupportRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Supports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Supports</name>
        <label>Get Patient Supports</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Patient_Supports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Support__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Support_Selected</name>
        <label>Get Support Selected</label>
        <locationX>424</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_Supports_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Patient_Supports.SupportListAddiction.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Support__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PatientRecordstoDelete</name>
        <label>PatientRecordstoDelete</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Patient_Supports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientSupports</elementReference>
            </value>
        </filters>
        <object>Patient_Support__c</object>
        <outputReference>ExistingPatientSupportRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient_Support</name>
        <label>Update Patient Support</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>UpdatedPatientSupports</inputReference>
    </recordUpdates>
    <screens>
        <name>Cancel_Message</name>
        <label>Cancel Message</label>
        <locationX>490</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cancel</name>
            <fieldText>&lt;p&gt;You have canceled your transaction. No changes have been made. Please click the back button above to return to the patient record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Patient_Supports</name>
        <label>Existing Patient Supports</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Patient_Supports</targetReference>
        </connector>
        <fields>
            <name>PatientSupportRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>SupportListAddiction</name>
                <choiceReferences>SupportsAddiction</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Patient_Supports[$EachItem].Support__c</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Support</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Support</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Supports[$EachItem].Support__c</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_Current_Case.Case_Type__c</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>Addiction Medicine</stringValue>
                        </rightValue>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>SupportPsychiatry</name>
                <choiceReferences>SupportsPsychiatry</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Patient_Supports[$EachItem].Support__c</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Support</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Support</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Current_Case.Case_Type__c</leftValueReference>
                        <operator>EqualTo</operator>
                        <rightValue>
                            <stringValue>General Psychiatry</stringValue>
                        </rightValue>
                    </conditions>
                    <conditions>
                        <leftValueReference>Get_Patient_Supports[$EachItem].Support__c</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>SafetyRisk</name>
                <fieldText>&lt;p&gt;Support: {!Get_Patient_Supports[$EachItem].Support__r.Name}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Supports[$EachItem].Support__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Category</name>
                <fieldText>&lt;p&gt;Category: {!Get_Patient_Supports[$EachItem].Support__r.Category__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Supports[$EachItem].Support__r.Category__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Scheduled</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Supports[$EachItem].Scheduled__c</elementReference>
                </defaultValue>
                <fieldText>Scheduled</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Going</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Supports[$EachItem].Going__c</elementReference>
                </defaultValue>
                <fieldText>Going</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Appointment_Completed</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Supports[$EachItem].Appointment_Completed__c</elementReference>
                </defaultValue>
                <fieldText>Appointment Completed</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Appointment_Completed_Ineffective</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Supports[$EachItem].Appointment_Completed_Ineffective__c</elementReference>
                </defaultValue>
                <fieldText>Appointment Completed - Ineffective</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Care_Not_Applicable</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Supports[$EachItem].Care_Not_Applicable__c</elementReference>
                </defaultValue>
                <fieldText>Care Not Applicable</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Suspended</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Supports[$EachItem].Suspended__c</elementReference>
                </defaultValue>
                <fieldText>Suspended</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Notes</name>
                <defaultValue>
                    <stringValue>{!Get_Patient_Supports[$EachItem].Notes_new__c}</stringValue>
                </defaultValue>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Patient_Supports</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Navigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Success!&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Your updates have been saved. Please click the back button above to return to the patient record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentPatientSupport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Support__c</objectType>
    </variables>
    <variables>
        <name>CurrentSafetyRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
    <variables>
        <name>ExistingPatientSafetyRiskRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
    <variables>
        <name>ExistingPatientSupportRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Support__c</objectType>
    </variables>
    <variables>
        <name>NewPatientSafetyRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
    <variables>
        <name>NewPatientSupport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Support__c</objectType>
    </variables>
    <variables>
        <name>NewPatientSupports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Support__c</objectType>
    </variables>
    <variables>
        <name>PatientSafetyRisk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemovePatientSupports</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedPatientSupports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Support__c</objectType>
    </variables>
    <variables>
        <name>UpdatedSafetyRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Safety_Risk__c</objectType>
    </variables>
</Flow>
