force-app/main/default/flows/Patient_Screener_Mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Parent_Patient_Screeners_to_Add</name>
        <label>Assign Parent Patient Screeners to Add</label>
        <locationX>1128</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>PatientScreener.Screener__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Screener_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Screeners.Screener_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Aproximate_Date_Screened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Screeners.Approximate_Date_Screened_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Positive_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Screeners.Positive_Outcome_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Parent_Patient_Screeners.ScoreParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientScreeners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientScreener</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Parent_Patient_Screeners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Screeners_to_Delete</name>
        <label>Assign Parent Patient Screeners to Delete</label>
        <locationX>1128</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientScreeners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deleted_Parent_Patient_Screeners.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Parent_Patient_Screeners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Patient_Screeners_to_Update</name>
        <label>Assign Parent Patient Screeners to Update</label>
        <locationX>1128</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>CurrentScreener.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Screeners.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScreener.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Screeners.Screener_Notes_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScreener.Positive_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Screeners.Positive_Outcome_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScreener.Aproximate_Date_Screened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Screeners.Approximate_Date_Screened_Parent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScreener.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Parent_Patient_Screeners.ScoreParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientScreeners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentScreener</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Patient_Screeners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Screeners_to_Add</name>
        <label>Assign Patient Screeners to Add</label>
        <locationX>424</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>PatientScreener.Screener__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Screener_Selected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Screeners.Screener_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Positive_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Screeners.Positive_Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Aproximate_Date_Screened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Screeners.Approximate_Date_Screened</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientScreener.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Patient_Screeners.Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPatientScreeners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatientScreener</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Patient_Screeners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Screeners_to_Delete</name>
        <label>Assign Patient Screeners to Delete</label>
        <locationX>424</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>RemovePatientScreeners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Deleted_Patient_Screeners.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_Patient_Screeners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Screeners_to_Update</name>
        <label>Assign Patient Screeners to Update</label>
        <locationX>424</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>CurrentScreener.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Screeners.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScreener.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Screeners.Screener_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScreener.Aproximate_Date_Screened__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Screeners.Approximate_Date_Screened</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScreener.Positive_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Screeners.Positive_Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentScreener.Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Patient_Screeners.Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedPatientScreeners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentScreener</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Screeners</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Type</name>
        <label>Case Type</label>
        <locationX>688</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Screeners</targetReference>
            </connector>
            <label>Parent Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigationbuttons</name>
        <label>Navigation</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Navigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Patient_Screener</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>NavigationParentButtons</name>
        <label>Navigation</label>
        <locationX>1040</locationX>
        <locationY>1898</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Saveparent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentNavigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_Patient_Screener</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items</name>
        <label>Remove Items?</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Update_Patient_Screener</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientScreenerRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Screeners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_Items_Parent</name>
        <label>Remove Items Parent?</label>
        <locationX>886</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Patient_Screener</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Ye2s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingPatientScreenerRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Parent_Patient_Screeners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DosingUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dosing_Unit__c</picklistField>
        <picklistObject>Patient_Medication__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FrecuencyOLD</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency_of_Substance_Use__c</picklistField>
        <picklistObject>Patient_Substance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Screeners</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Screener__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Patient Screener Mobile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patient Screener Mobile</label>
    <loops>
        <name>Deleted_Parent_Patient_Screeners</name>
        <label>Deleted Parent Patient Screeners</label>
        <locationX>1040</locationX>
        <locationY>782</locationY>
        <collectionReference>ParentPatientScreenersRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Screeners_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ParentPatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Deleted_Patient_Screeners</name>
        <label>Deleted Patient Screeners</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <collectionReference>PatientScreenersRepeater.RemovedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Screeners_to_Delete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PatientRecordstoDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Parent_Patient_Screeners</name>
        <label>New Parent Patient Screeners</label>
        <locationX>1040</locationX>
        <locationY>1190</locationY>
        <collectionReference>ParentPatientScreenersRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Parent_Screener_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Patient_Screeners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>New_Patient_Screeners</name>
        <label>New Patient Screeners</label>
        <locationX>336</locationX>
        <locationY>1082</locationY>
        <collectionReference>PatientScreenersRepeater.AddedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Screener_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Patient_Screeners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Parent_Patient_Screeners</name>
        <label>Update Parent Patient Screeners</label>
        <locationX>1040</locationX>
        <locationY>1598</locationY>
        <collectionReference>ParentPatientScreenersRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Parent_Patient_Screeners_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>NavigationParentButtons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Patient_Screeners</name>
        <label>Update Patient Screeners</label>
        <locationX>336</locationX>
        <locationY>1490</locationY>
        <collectionReference>PatientScreenersRepeater.PrepopulatedItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Screeners_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Navigationbuttons</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Parent_Patient_Screener</name>
        <label>Create Parent Patient Screener</label>
        <locationX>886</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Remove_Items_Parent</targetReference>
        </connector>
        <inputReference>NewPatientScreeners</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_Screener</name>
        <label>Create Patient Screener</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Remove_Items</targetReference>
        </connector>
        <inputReference>NewPatientScreeners</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Parent_Patient_Screeners</name>
        <label>Delete Parent Patient Screeners</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Update_Parent_Patient_Screener</targetReference>
        </connector>
        <inputReference>ExistingPatientScreenerRecords</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Screeners</name>
        <label>Delete Patient Screeners</label>
        <locationX>50</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_Patient_Screener</targetReference>
        </connector>
        <inputReference>ExistingPatientScreenerRecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>1040</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Patient_Screeners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Patient_Screeners</name>
        <label>Get Parent Patient Screeners</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Parent_Patient_Screeners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Screener__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Screener_Selected</name>
        <label>Get Parent Screener Selected</label>
        <locationX>1128</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Patient_Screeners_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Parent_Patient_Screeners.ScreenerList2.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Screener__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_Screeners</name>
        <label>Get Patient Screeners</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Patient_Screeners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Screener__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Screener_Selected</name>
        <label>Get Screener Selected</label>
        <locationX>424</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_Screeners_to_Add</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Patient_Screeners.ScreenerList.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Screener__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Screeners</name>
        <label>Get Screeners</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Case</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Screener__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ParentPatientRecordstoDelete</name>
        <label>ParentPatientRecordstoDelete</label>
        <locationX>1040</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Parent_Patient_Screeners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientScreeners</elementReference>
            </value>
        </filters>
        <object>Patient_Screener__c</object>
        <outputReference>ExistingPatientScreenerRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PatientRecordstoDelete</name>
        <label>PatientRecordstoDelete</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Patient_Screeners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RemovePatientScreeners</elementReference>
            </value>
        </filters>
        <object>Patient_Screener__c</object>
        <outputReference>ExistingPatientScreenerRecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Patient_Screener</name>
        <label>Update Parent Patient Screener</label>
        <locationX>886</locationX>
        <locationY>2414</locationY>
        <inputReference>UpdatedPatientScreeners</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Screener</name>
        <label>Update Patient Screener</label>
        <locationX>182</locationX>
        <locationY>2306</locationY>
        <inputReference>UpdatedPatientScreeners</inputReference>
    </recordUpdates>
    <screens>
        <name>Existing_Parent_Patient_Screeners</name>
        <label>Existing Parent Patient Screeners</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Parent_Patient_Screeners</targetReference>
        </connector>
        <fields>
            <name>ParentPatientScreenersRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ScreenerList2</name>
                <choiceReferences>Screeners</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Screeners[$EachItem].Screener__r.Name</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Screener</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Safety Risk</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Screeners[$EachItem].Screener__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Screenerlabel</name>
                <fieldText>&lt;p&gt;Screener: {!Get_Parent_Patient_Screeners[$EachItem].Screener__r.Name}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Screeners[$EachItem].Screener__r.Name</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Copy_1_of_Category</name>
                <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Screener Type: {!Get_Parent_Patient_Screeners[$EachItem].Screener__r.Screener_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Parent_Patient_Screeners[$EachItem].Screener__r.Screener_Type__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Positive_Outcome_Parent</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Screeners[$EachItem].Positive_Outcome__c</elementReference>
                </defaultValue>
                <fieldText>Positive Outcome</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Approximate_Date_Screened_Parent</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Screeners[$EachItem].Aproximate_Date_Screened__c</elementReference>
                </defaultValue>
                <fieldText>Approximate Date Screened</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScoreParent</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Parent_Patient_Screeners[$EachItem].Score__c</elementReference>
                </defaultValue>
                <fieldText>Score</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screener_Notes_Parent</name>
                <defaultValue>
                    <stringValue>{!Get_Parent_Patient_Screeners[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Parent_Patient_Screeners</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ParentNavigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Existing_Patient_Screeners</name>
        <label>Existing Patient Screeners</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Deleted_Patient_Screeners</targetReference>
        </connector>
        <fields>
            <name>PatientScreenersRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ScreenerList</name>
                <choiceReferences>Screeners</choiceReferences>
                <defaultValue>
                    <elementReference>Get_Patient_Screeners[$EachItem].Screener__r.Name</elementReference>
                </defaultValue>
                <extensionName>flowruntime:choiceLookup</extensionName>
                <fieldText>Screener</fieldText>
                <fieldType>ComponentChoice</fieldType>
                <inputParameters>
                    <name>placeholder</name>
                    <value>
                        <stringValue>Select a Screener</stringValue>
                    </value>
                </inputParameters>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <storeOutputAutomatically>true</storeOutputAutomatically>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Screeners[$EachItem].Screener__r.Name</leftValueReference>
                        <operator>EqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Screener</name>
                <fieldText>&lt;p&gt;Screener: {!Get_Patient_Screeners[$EachItem].Screener__r.Name}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Screeners[$EachItem].Screener__r.Name</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>ScreenerType</name>
                <fieldText>&lt;p&gt;Screener Type: {!Get_Patient_Screeners[$EachItem].Screener__r.Screener_Type__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <visibilityRule>
                    <conditionLogic>and</conditionLogic>
                    <conditions>
                        <leftValueReference>Get_Patient_Screeners[$EachItem].Screener__r.Screener_Type__c</leftValueReference>
                        <operator>NotEqualTo</operator>
                    </conditions>
                </visibilityRule>
            </fields>
            <fields>
                <name>Positive_Outcome</name>
                <dataType>Boolean</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Screeners[$EachItem].Positive_Outcome__c</elementReference>
                </defaultValue>
                <fieldText>Positive Outcome</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Approximate_Date_Screened</name>
                <dataType>Date</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Screeners[$EachItem].Aproximate_Date_Screened__c</elementReference>
                </defaultValue>
                <fieldText>Approximate Date Screened</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Score</name>
                <dataType>String</dataType>
                <defaultValue>
                    <elementReference>Get_Patient_Screeners[$EachItem].Score__c</elementReference>
                </defaultValue>
                <fieldText>Score</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screener_Notes</name>
                <defaultValue>
                    <stringValue>{!Get_Patient_Screeners[$EachItem].Notes__c}</stringValue>
                </defaultValue>
                <fieldText>Notes</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Patient_Screeners</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Navigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Screeners</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentScreener</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Screener__c</objectType>
    </variables>
    <variables>
        <name>ExistingPatientScreenerRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Screener__c</objectType>
    </variables>
    <variables>
        <name>NewPatientScreeners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Screener__c</objectType>
    </variables>
    <variables>
        <name>PatientScreener</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Screener__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemovePatientScreeners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedPatientScreeners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Screener__c</objectType>
    </variables>
</Flow>
