force-app/main/default/flows/Unrelated_Call_Cleanup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Barriers_to_Delete</name>
        <label>Barriers to Delete</label>
        <locationX>270</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>PatientBarriers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Patient_Barriers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Each_CN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Supports_to_Delete</name>
        <label>Supports to Delete</label>
        <locationX>270</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>PatientSupports</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Related_Patient_Supports</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Barriers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Barriers</name>
        <label>Has Barriers?</label>
        <locationX>402</locationX>
        <locationY>4154</locationY>
        <defaultConnector>
            <targetReference>Check_Each_CN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PatientBarriers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Patient_Barriers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Barriers_to_Delete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Care_Notes</name>
        <label>Has Care Notes?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Patient_Medications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Care_Notes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Care_Notes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Patient_Barriers</name>
        <label>Has Patient Barriers?</label>
        <locationX>182</locationX>
        <locationY>4838</locationY>
        <defaultConnector>
            <targetReference>Has_Related_CN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Barriers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientBarriers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Barriers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Patient_Concerns</name>
        <label>Has Patient Concerns?</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Patient_Screeners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PatientConcerns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Patient_Concerns</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Concerns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Patient_Medications</name>
        <label>Has Patient Medications?</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Patient_Substances</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PatientMedications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Patient_Medications</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Medications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Patient_Safety_Risks</name>
        <label>Has Patient Safety Risks?</label>
        <locationX>182</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Get_CR_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SafetyRisks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Patient_Safety_Risks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Safety_Risks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Patient_Screeners</name>
        <label>Has Patient Screeners</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Patient_Safety_Risks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PatientScreeners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Patient_Screeners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Screeners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Patient_Substances</name>
        <label>Has Patient Substances?</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Patient_Concerns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PatientSubstances</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Patient_Substances</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Substances</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Patient_Supports</name>
        <label>Has Patient Supports?</label>
        <locationX>182</locationX>
        <locationY>4538</locationY>
        <defaultConnector>
            <targetReference>Has_Patient_Barriers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PatientSupports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientSupports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Patient_Supports</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Related_CN</name>
        <label>Has Related CN?</label>
        <locationX>182</locationX>
        <locationY>5138</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Sub_Cases_CN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_CN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Related_CR</name>
        <label>Has Related CR?</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <defaultConnector>
            <targetReference>Get_CN_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Sub_Cases_CR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_CR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Supports</name>
        <label>Has Supports?</label>
        <locationX>402</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>Has_Barriers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HasSupports</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Patient_Supports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Supports_to_Delete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>toggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Case.Toggle__c}= True, False, True)</expression>
    </formulas>
    <interviewLabel>Unrelated Call Cleanup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unrelated Call Cleanup</label>
    <loops>
        <name>Check_Each_CN</name>
        <label>Check Each CN</label>
        <locationX>182</locationX>
        <locationY>3530</locationY>
        <collectionReference>Get_Related_Sub_Cases_CN</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Related_Patient_Supports</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Patient_Supports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Care_Notes</name>
        <label>Delete Care Notes</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Related_Patient_Medications</targetReference>
        </connector>
        <inputReference>Get_Related_Care_Notes</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Barriers</name>
        <label>Delete Patient Barriers</label>
        <locationX>50</locationX>
        <locationY>4946</locationY>
        <connector>
            <targetReference>Has_Related_CN</targetReference>
        </connector>
        <inputReference>PatientBarriers</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Concerns</name>
        <label>Delete Patient Concerns</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Get_Related_Patient_Screeners</targetReference>
        </connector>
        <inputReference>Get_Related_Patient_Concerns</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Medications</name>
        <label>Delete Patient Medications</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Related_Patient_Substances</targetReference>
        </connector>
        <inputReference>Get_Related_Patient_Medications</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Safety_Risks</name>
        <label>Delete Patient Safety Risks</label>
        <locationX>50</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Get_CR_Record_Type</targetReference>
        </connector>
        <inputReference>Get_Related_Patient_Safety_Risks</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Screeners</name>
        <label>Delete Patient Screeners</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Get_Related_Patient_Safety_Risks</targetReference>
        </connector>
        <inputReference>Get_Related_Patient_Screeners</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Substances</name>
        <label>Delete Patient Substances</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Get_Related_Patient_Concerns</targetReference>
        </connector>
        <inputReference>Get_Related_Patient_Substances</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Patient_Supports</name>
        <label>Delete Patient Supports</label>
        <locationX>50</locationX>
        <locationY>4646</locationY>
        <connector>
            <targetReference>Has_Patient_Barriers</targetReference>
        </connector>
        <inputReference>PatientSupports</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Related_CN</name>
        <label>Delete Related CN</label>
        <locationX>50</locationX>
        <locationY>5246</locationY>
        <inputReference>Get_Related_Sub_Cases_CN</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Related_CR</name>
        <label>Delete Related CR</label>
        <locationX>50</locationX>
        <locationY>3122</locationY>
        <connector>
            <targetReference>Get_CN_Record_Type</targetReference>
        </connector>
        <inputReference>Get_Related_Sub_Cases_CR</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty_Record_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CN_Record_Type</name>
        <label>Get CN Record Type</label>
        <locationX>182</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Sub_Cases_CN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care_Navigation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CR_Record_Type</name>
        <label>Get CR Record Type</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Sub_Cases_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Care_Notes</name>
        <label>Get Related Care Notes</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Care_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Care_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_Barriers</name>
        <label>Get Related Patient Barriers</label>
        <locationX>402</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Supports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Barrier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_Concerns</name>
        <label>Get Related Patient Concerns</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Patient_Concerns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Concern__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_Medications</name>
        <label>Get Related Patient Medications</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Patient_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_Safety_Risks</name>
        <label>Get Related Patient Safety Risks</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Patient_Safety_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Safety_Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_Screeners</name>
        <label>Get Related Patient Screeners</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Patient_Screeners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Screener__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_Substances</name>
        <label>Get Related Patient Substances</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Patient_Substances</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Substance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Patient_Supports</name>
        <label>Get Related Patient Supports</label>
        <locationX>402</locationX>
        <locationY>3638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Patient_Barriers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Patient_Support__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Sub_Cases_CN</name>
        <label>Get Related Sub Cases - CN</label>
        <locationX>182</locationX>
        <locationY>3422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Each_CN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CN_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Sub_Cases_CR</name>
        <label>Get Related Sub Cases - CR</label>
        <locationX>182</locationX>
        <locationY>2906</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Related_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CR_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Empty_Record_fields</name>
        <label>Empty Record fields</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Related_Care_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Are_they_involved_with_the_criminal_just__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Challenges_in_Seeking_Continuing_Tx__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Co_occurring_Mental_Health_Conditions__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Treatment_or_Counseling_for_Subs__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
        </inputAssignments>
        <inputAssignments>
            <field>Family_Involvement_in_Patient_s_Tx__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency_of_Substance_Use__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>History_of_Substance_Use_Treatment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IsEscalated</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Substance_Use_and_Past_Tx__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Willingness_for_Tx__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Substance_Use_Related_Hospitali__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Unrelated Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Unrelated case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substance_Use_in_the_Last_3_Months__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Toggle__c</field>
            <value>
                <elementReference>toggle</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientBarriers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Barrier__c</objectType>
    </variables>
    <variables>
        <name>PatientSupports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Support__c</objectType>
    </variables>
</Flow>
