force-app/main/default/flows/Update_Case_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_New_Case_Type</name>
        <label>Assign New Case Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Subcase.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subcases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subcase.Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case.Case_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllSubcases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Subcase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subcases</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Case Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Type</label>
    <loops>
        <name>Subcases</name>
        <label>Subcases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_SubCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Case_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Subcases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SubCases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SubCases</name>
        <label>Get SubCases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subcases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subcases</name>
        <label>Update Subcases</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>AllSubcases</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllSubcases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subcase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
